@model AirShopp.UI.Models.ViewModel.HomeViewModel
@Scripts.Render("~/bundles/AirShopp")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_airShoppLayout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Feature Products</h3>
            </div>
            <div class="sort">
                <p>
                    Sort by:
                    <select>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="show">
                <p>
                    Show:
                    <select>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="page-no">
                <p>
                    Result Pages:<ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>[<a href="#"> Next>>></a>]</li>
                    </ul>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        @{ int m = 0;}
        @for (var i = 0; i <= (Model.Products.Count / 4); i++)
        {
            <div class="section group">
            @for (var j = 0; j < 4; j++)
            {
                if (m < Model.Products.Count)
                {
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="single.html"><img src="@Model.Products[m].url" alt="" /></a>
                    
                        <h2>@Html.ActionLink(@Model.Products[m].ProductName, "Index", "Product", Model, new { target = "_blank" }) </h2>
                        @*<p>@Model.Products[m].Description</p>*@
                        <p><span class="strike">$528.22</span><span class="price">$@Model.Products[m].Price</span></p>
                        <div class="button"><span><img src="~/Content/Images/HomePage/cart.jpg" alt="" /><a href="single.html" class="cart-button">Add to Cart</a></span> </div>
                        <div class="button"><span><a href="single.html" class="details">Details</a></span></div>
                    </div>
                 }
                    m++;
             }
            </div>
         }
        <div class="clearfix"></div>
    </div>
</div>