@model AirShopp.UI.Models.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_homePageLayout.cshtml";
}

@{
    var StartTime = Model.TimeLimitProduct[0].DiscountStartTime;
    var EndTime = Model.TimeLimitProduct[0].DiscountEndTime;
    var LimitTime = EndTime.Subtract(DateTime.Now);
    var d = LimitTime.Days;
    var H = LimitTime.Hours;
    var se = LimitTime.Seconds;
    var s = LimitTime.TotalSeconds;
}
<script type="text/javascript">
         var intDiff = @s;//倒计时总秒数量
         function timer(intDiff){
             window.setInterval(function(){
                 var day=0,
                         hour=0,
                         minute=0,
                         second=0;//时间默认值
                 if(intDiff > 0){
                     day = Math.floor(intDiff / (60 * 60 * 24));
                     hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                     minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                     second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                 }
                 if (minute <= 9) minute = '0' + minute;
                 if (second <= 9) second = '0' + second;
                 $('#day_show').html('<s id="d"></s>' + day+ '');
                 $('#hour_show').html('<s id="h"></s>'+hour+'');
                 $('#minute_show').html('<s></s>'+minute+'');
                 $('#second_show').html('<s></s>'+second+'');
                 intDiff--;
             }, 1000);
         }

         $(function(){
             timer(intDiff);
         });
</script>
<!--- banner begin-->
<section id="pc-banner">
    <div class="yBanner">
        <div class="banner" id="banner">
            <a href="javascript:;" class="d1" style="background:url(/Content/img/ad/banner1.jpg) center no-repeat;background-color: #f01a38; padding-left:180px;"></a>
            <a href="javascript:;" class="d1" style="background:url(/Content/img/ad/banner2.jpg) center no-repeat;background-color: #a96ae3; padding-left:180px;"></a>
            <a href="javascript:;" class="d1" style="background:url(/Content/img/ad/hot1.jpg) center no-repeat;background-color: #81d8d0; padding-left:180px;"></a>
            <a href="javascript:;" class="d1" style="background:url(/Content/img/ad/hot2.jpg) center no-repeat;background-color: #e66078; padding-left:180px;"></a>
            <a href="javascript:;" class="d1" style="background:url(/Content/img/ad/banner1.jpg) center no-repeat;background-color: #f01a38; padding-left:180px;"></a>
            <div class="d2" id="banner_id">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div style="text-align:center;clear:both"></div>
    </div>
</section>
<!--热卖区-->
<div class="time-lists clearfix">
    <div class="time-list time-list-w fl">
        <div class="time-title time-clear">
            <h2>热卖区</h2>
            <div class="pc-font fl"></div>
            @Ajax.ActionLink("换一换", "GetHotProduct", "Home", new AjaxOptions { UpdateTargetId = "HotProduct", HttpMethod = "Get" }, new { @Class = "pc-spin fr" })
        </div>
        <div class="time-border" id="HotProduct">
          @Html.Partial("HotProduct");
        </div>
    </div>
</div>
<!--热卖区-->
<!-- 限时抢购 begin -->
<div class="time-lists clearfix">
    <div class="time-list fl">
        <div class="time-title">
            <h2>限时抢购</h2>
            <div class="time-item clearfix fl" style="padding-left:10px;">
                <strong id="day_show">@LimitTime.Days</strong>
                <strong class="pc-clear-sr">天</strong>
                <strong id="hour_show">@LimitTime.Hours</strong>
                <strong class="pc-clear-sr">时</strong>
                <strong id="minute_show">@LimitTime.Minutes</strong>
                <strong class="pc-clear-sr">分</strong>
                <strong id="second_show">@LimitTime.Seconds</strong>
                <strong class="pc-clear-sr">秒</strong>
            </div><!--倒计时模块-->
            <a href="sale-begin.html" class="fr">更多抢购商品</a>
        </div>
        <div class="time-border">
            <div class="yScrollList">
                <div class="yScrollListIn">
                    <a class="yScrollListbtn yScrollListbtnl" id="prev-01"></a>
                    <div class="yScrollListInList yScrollListInList1 jCarouselLite" style="display:block;margin-left: 20px;" id="demo-01">
                        <ul>
                            @foreach (var timeProduct in Model.TimeLimitProduct)
                            {
                                <li>
                                    <a href="/Product/getProduct">
                                        <img src="@timeProduct.PictureUrl" />
                                        <p class="head-name pc-pa10" title="@timeProduct.ProductName">@timeProduct.ProductName.Substring(0, 20) ···</p>
                                        <p><span class="price">￥@timeProduct.DiscountPrice</span><span class="discount">￥@timeProduct.Price</span></p>
                                        <p class="label-default">@timeProduct.Discounts 折</p>
                                    </a>
                                </li>
                            }
                         </ul>
                    </div>
                    <a class="yScrollListbtn yScrollListbtnr" id="next-01"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="news-list fr">
        <div class="time-title time-clear"><h2>商城快讯</h2><a href="#" class="fr"> 更多资讯</a> </div>
        <div class="time-border" style="border-left:none;">
            <ul class="news">
                <li><a href="#">[特惠]洗护节 跨品牌满199减100</a> </li>
                <li><a href="#">[特惠]新一代Moto 360智能手表登陆</a> </li>
                <li><a href="#">[特惠]惠氏品牌日 两件立享85折</a> </li>
                <li><a href="#">[特惠]洗护节 跨品牌满199减100</a> </li>
                <li><a href="#">[特惠]仁怀政府开启“仁怀酱香酒馆”</a> </li>
            </ul>
            <div class="time-poduse"><img src="~/Content/img/pd/pj1.png"></div>
        </div>
    </div>
</div>
<!-- 限时抢购 End -->







