@model AirShopp.UI.Models.ViewModel.ProductDetailViewModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_airShoppLayout.cshtml";
}

<script>
         $(function(){
          $("#pro_detail a").click(function(){
           $("#pro_detail a").removeClass("cur");
           $(this).addClass("cur");
           $("#big_img").attr("src",$(this).attr("simg"));
          });

          $(".attrdiv a").click(function(){
           $(".attrdiv a").removeClass("cur");
    $(this).addClass("cur");
          });

          $('.amount2').click(function(){
          var num_input = $("#subnum");
          var buy_num = (num_input.val()-1)>0?(num_input.val()-1):1;
          num_input.val(buy_num);
      });

      $('.amount1').click(function(){
          var num_input = $("#subnum");
          var buy_num = Number(num_input.val())+1;
          num_input.val(buy_num);
      });

             $("#H-table li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over").hide();
                         $(".H-over:eq(" + _index + ")").show();
                     }
                 })(i));
             });
             $("#H-table1 li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over1").hide();
                         $(".H-over1:eq(" + _index + ")").show();
                     }
                 })(i));
             });
         });
</script>
<!-- 商品详情 begin -->
 <section>
        <div class="pc-details">
            <div class="containers">
                <div class="pc-nav-item"><a class="pc-title" href="#">@Model.CategoryName</a>&gt;<a href="#">@Model.ProductName</a> </div>
                <div class="pc-details-l">
                    <div class="pc-product clearfix">
                        <div class="pc-product-h">
                            <div id="bigimage"></div>
                            <div class="pc-product-top"><img src="@Model.ProductUrl[0]" id="big_img" width="418" height="418"></div>
                            <div class="pc-product-bop clearfix" id="pro_detail">
                                <ul>
                                    @{
                                    List<string> productUrl = Model.ProductUrl;
                                }
                                @for (var i = 0; i < productUrl.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        <li><a href="javascript:void(0);" class="cur" simg="@productUrl[i]"><img src="@productUrl[i]" width="58" height="58"></a> </li>
                                    }
                                    else
                                    {
                                        <li><a href="javascript:void(0);" simg="@productUrl[i]"><img src="@productUrl[i]" width="58" height="58"></a> </li>
                                    }
                                }
                            </ul>
                            </div>
                           @using (Html.BeginForm("AddCart", "Cart",FormMethod.Post, new {@id="addCartForm"}))
                           {
                               <input type="hidden" name="productId" value="@Model.ProductId"/>
                               <input type="hidden" name="quanlity" id="qlt"value=""/>
                               <input type="hidden" name="pricePerProduct" value="@Model.Price"/>
                           }
                            @using (Html.BeginForm("ImmediatelyBuy", "Order", FormMethod.Post, new { @id = "immediatelyBuyForm" }))
                            {
                                <input type="hidden" name="productId" value="@Model.ProductId" />
                                <input type="hidden" name="quanlity" id="qltBuy" value="" />
                                <input type="hidden" name="pricePerProduct" value="@Model.Price" />
                            }
                    </div>
                    <div class="pc-product-t">
                        <div class="pc-name-info">
                            <h1>@Model.ProductName</h1>
                            <p>由<a href="#" class="reds">AirShopp官方</a> 负责发货，并提供售后服务。</p>
                        </div>
                        <div class="pc-dashed clearfix">
                            <span>累计销量：<em class="reds">@Model.Sales</em> 件</span><b>|</b><span>累计评价：<em class="reds">@Model.CommentAmount</em></span>
                        </div>
                        <div class="pc-size">
                            <div class="pc-telling clearfix">
                                <div class="pc-version">颜色分类</div>
                                <div class="pc-adults">
                                    <ul>
                                        @for (var i = 0; i < productUrl.Count(); i++)
                                        {
                                            <li><img src="@productUrl[i]" width="35" height="35" /></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="pc-telling clearfix">
                                <div class="pc-version">数量</div>
                                <div class="pc-adults clearfix">
                                    <div class="pc-adults-p clearfix fl">
                                        <input type="number" min="1" id="subnum" value="1" />
                                    </div>
                                    <div class="fl pc-letter ">件</div>
                                    <div class="fl pc-stock ">库存<em style="color:red;">@Model.ProductAmount</em>件</div>
                                </div>
                            </div>
                            <div class="pc-number clearfix"><span class="fl">商品编号：@Model.ProductId  </span></div>
                        </div>
                        <div class="pc-emption">
                            <a id="immediatelyBuy" style="cursor:pointer">立即购买</a>
                            <a class="join" id="cartSub"  style="cursor:pointer">加入购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="containers clearfix" style="margin-top:20px;">
            <div class="pc-info fr">
                <div class="pc-overall">
                    <ul id="H-table1" class="brand-tab H-table1 H-table-shop clearfix ">
                        <li class="cur"><a href="javascript:void(0);">商品介绍</a></li>
                        <li><a href="javascript:void(0);">全部评价( @Model.CommentAmount )</a></li>
                        <li><a href="javascript:void(0);">售后保障</a></li>
                    </ul>
                    <div class="pc-term clearfix">
                        <div class="H-over1 pc-text-word clearfix" style="height:100px;">
                            <span style="display:block;float:left;margin-top:30px;margin-left:10px;">@Model.Description</span>
                        </div>

                        <div class="H-over1" style="display:none">
                            <div class="pc-term clearfix">
                                <div class="pc-column">
                                    <span class="column4">评论者</span>
                                    <span class="column2">顾客满意度</span>
                                    <span class="column1">评价内容</span>

                                </div>
                                <div class="H-over  pc-comments clearfix">
                                    <ul class="clearfix">
                                        @foreach (var comment in Model.comments)
                                        {
                                            <li class="clearfix" style="margin-left:0px;">
                                                <div class="column4">
                                                    <p><img src="~/Content/icon/user.png"></p>
                                                    <p>@comment.Comment.CommentDate 购买</p>
                                                </div>

                                                <div class="column2"><img src="~/Content/icon/star.png"></div>
                                                <div class="column1">
                                                    <p style="display: block;height: 100px;line-height: 100px;">@comment.Comment.Comments</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="H-over1 pc-text-title" style="display:none">
                            <p>
                                本产品全国联保，享受三包服务，质保期为：一年质保
                                如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！
                                (注:如厂家在商品介绍中有售后保障的说明,则此商品按照厂家说明执行售后保障服务。) 您可以查询本品牌在各地售后服务中心的联系方式，请点击这儿查询......
                            </p>
                            <div class="pc-line"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>
<script>
    $(function () {
        $("#cartSub").click(function () {
            
            $("#qlt").val($("#subnum").val());
            $("#addCartForm").submit();
        });
        $("#immediatelyBuy").click(function () {
            $("#qltBuy").val($("#subnum").val());
            $("#immediatelyBuyForm").submit();
        });
    });
    //function AddCart() {
    //    $("form").submit();
    //}
</script>
<!-- 商品详情 End -->
