@model AirShopp.Domain.DeliveryStation
@{
    Layout = "~/Views/Shared/_backEndLayout.cshtml";
}
@Styles.Render("~/bundles/AirShopp/Inventory/Css")
@Scripts.Render("~/bundles/AirShopp/Inventory/js")
<!-- 商城快讯 begin -->
<style>
    .member-cancel span {
        text-align: center;
        float: left;
        height: 35px;
        line-height: 35px;
        color: #a3a3a3;
    }

    .be11 {
        width: 380px;
    }

    .be22 {
        width: 180px;
    }

    .be33 {
        width: 185px;
    }

    .be44 {
        width: 85px;
    }

    .be55 {
        width: 53px;
    }

    .be66 {
        width:250px;
    }

    .be77 {
        width:300px;
    }

    .be88 {
        width:235px;
    }
    .member-circle .be88{
        border-right:none;
    }

    .member-circle div {
        text-align: center;
        float: left;
        height: 35px;
        line-height: 35px;
        border-right: 1px solid #e0e0e0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ci11 {
        width: 380px;
    }

    .ci22 {
        width: 179px;
    }

    .ci33 {
        width: 184px;
    }

    .ci44 {
        width: 84px;
    }

    .ci55 {
        width: 52px;
    }

    .member-about select {
        width: 100px;
        height: 26px;
        line-height: 26px;
        border-radius: 3px;
        margin-right: 10px;
        border: 1px solid #e0e0e0;
    }
</style>
<div class="member-right fr">
    @if (Model.StationLevel == 3)
    {

        <div class="member-head">
            <div class="member-heels fl"><h2>@Model.Name 的派送员</h2></div>
            <div class="member-backs fr">
                @Html.ActionLink("新增配送员", "AddCourier", "Delivery", new { deliveryStationId = Model.Id }, new { style = "color:#FFFFFF" })
            </div>
        </div>
        <div class="member-border">
            <div class="member-return H-over">
                <div class="member-cancel clearfix">
                    <span class="be22">序号</span>
                    <span class="be66">姓名</span>
                    <span class="be77">电话</span>
                    <span class="be88">操作</span>
                </div>
                <div class="member-sheet clearfix">
                    <ul>
                        @if (Model.Couriers.Count == 0)
                        {
                            <li>
                                <div class="member-circle clearfix" style="text-align:center;height:35px;line-height:35px;">
                                    该派送点还没有派送员
                                </div>
                            </li>
                        }
                        else
                        {
                            for (var i = 0; i < Model.Couriers.ToList().Count; i++)
                            {
                                <li>
                                    <div class="member-circle clearfix">
                                        <div class="ci22">@(i+1)</div>
                                        <div class="be66">@Model.Couriers.ToList()[i].Name</div>
                                        <div class="be77">@Model.Couriers.ToList()[i].Phone</div>
                                        <div class="be88">@Html.ActionLink("删除", "DeleteCourier", "Delivery", new { courierId = Model.Couriers.ToList()[i].Id, deliveryStationId = Model.Id }, new { style = "color:#a3a3a3;text-decoration:underline;" })</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="member-head">
            <div class="member-heels fl"><h2>@Model.Name 的子级派送点</h2></div>
        </div>
        <div class="member-border">
            <div class="member-return H-over">
                <div class="member-cancel clearfix">
                    <span class="be22">序号</span>
                    <span class="be33">名称</span>
                    <span class="be11">地址</span>
                    <span class="be44">经度</span>
                    <span class="be44">纬度</span>
                    <span class="be55">等级</span>
                </div>
                <div class="member-sheet clearfix">
                    <ul>
                        @if (Model.DeliveryStations.Count == 0)
                        {
                            <li>
                                <div class="member-circle clearfix" style="text-align:center;height:35px;line-height:35px;">
                                    该派送点还没有子级派送点
                                </div>
                            </li>
                        }
                        else
                        {

                            for (var i = 0; i < Model.DeliveryStations.ToList().Count; i++)
                            {
                                <li>
                                    <div class="member-circle clearfix">
                                        <div class="ci22">@(i + 1)</div>
                                        <div class="ci33">@Html.ActionLink(@Model.DeliveryStations.ToList()[i].Name, "DeliveryStationListDetail", new { deliveryStationId = @Model.DeliveryStations.ToList()[i].Id })</div>
                                        <div class="ci11">@Model.DeliveryStations.ToList()[i].Address</div>
                                        <div class="ci44">@Model.DeliveryStations.ToList()[i].Latitude</div>
                                        <div class="ci44">@Model.DeliveryStations.ToList()[i].Longitude</div>
                                        <div class="ci55" style="border:none;">@Model.DeliveryStations.ToList()[i].StationLevel</div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>