@model AirShopp.UI.Models.ViewModel.DeliveryStationListViewModel
@{
    Layout = "~/Views/Shared/_backEndLayout.cshtml";
}
@Styles.Render("~/bundles/AirShopp/Inventory/Css")
@Scripts.Render("~/bundles/AirShopp/Inventory/js")
<script language="javascript">

    var province = @Html.Raw(Json.Encode(Model.Provinces));

    var city = @Html.Raw(Json.Encode(Model.Cities));

    var area = @Html.Raw(Json.Encode(Model.Areas));

    $(function() {
        $.each(province, function(k, p) {
            var option = "<option value='" + p.ProvinceId + "'>" + p.ProvinceName + "</option>";
            $("#selProvince").append(option);
        });
        $("#selProvince").change(function() {
            var selValue = $(this).val();
            $("#selCity option:gt(0)").remove();
            $("#selDistrict option:gt(0)").remove();
            $.each(city, function(k, p) {
                if (p.ProvinceId == selValue) {
                    var option = "<option value='" + p.CityId + "'>" + p.CityName + "</option>";
                    $("#selCity").append(option);
                }
            });
        });
        $("#selCity").change(function() {
            var selValue = $(this).val();
            $("#selDistrict option:gt(0)").remove();
            $.each(area, function(k, p) {
                if (p.CityId == selValue) {
                    var option = "<option value='" + p.Id + "'>" + p.AreaName + "</option>";
                    $("#selDistrict").append(option);
                }
            });
        });

        var obj = @Html.Raw(Json.Encode(@Model.stationSearchCondition));

        if (obj.provinceName != ""){
            $("#selProvince option:contains('"+ obj.provinceName +"')").attr("selected", true);
            $("#selProvince").trigger("change");
        }

        if (obj.cityName != ""){
            $("#selCity option:contains('"+ obj.cityName +"')").attr("selected", true);
            $("#selCity").trigger("change");
        }

        if (obj.areaName != ""){
            $("#selDistrict option:contains('"+ obj.areaName +"')").attr("selected", true);
        }

        if (obj.deliveryStationName !=""){
            $("input[name='deliveryStationName']").val(obj.deliveryStationName);
        }
    });
</script>
<!-- 商城快讯 begin -->
<style>
    .member-cancel span {
        text-align: center;
        float: left;
        height: 35px;
        line-height: 35px;
        color: #a3a3a3;
    }

    .be11 {
        width: 380px;
    }

    .be22 {
        width: 180px;
    }

    .be33 {
        width: 185px;
    }

    .be44 {
        width: 85px;
    }

    .be55 {
        width: 53px;
    }

    .member-circle div {
        text-align: center;
        float: left;
        height: 35px;
        line-height: 35px;
        border-right: 1px solid #e0e0e0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ci11 {
        width: 380px;
    }

    .ci22 {
        width: 179px;
    }

    .ci33 {
        width: 184px;
    }

    .ci44 {
        width: 84px;
    }

    .ci55 {
        width: 52px;
    }

    .member-about select {
        width: 100px;
        height: 26px;
        line-height: 26px;
        border-radius: 3px;
        margin-right: 10px;
        border: 1px solid #e0e0e0;
    }
</style>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>派送点</h2></div>
    </div>
    <div class="member-border">
        <div class="member-newly">
            <div class="member-backs member-icons fr" style="padding-top:4px;"><a href="@Url.Action("DeliveryStationList", "Delivery")" class="searchStation">搜索</a></div>
            <div class="member-about fr"><input type="text" placeholder="派送点名称" style="border:1px solid #e0e0e0;" name="deliveryStationName" /></div>
            <div class="member-about fr">
                <select id="selDistrict" name="AreaId">
                    <option value="0">--请选择区/县--</option>
                </select>
            </div>
            <div class="member-about fr">
                <select id="selCity" name="City">
                    <option value="0">--请选择城市--</option>
                </select>
            </div>
            <div class="member-about fr">
                <select id="selProvince" name="Province">
                    <option value="0">--请选择省份--</option>
                </select>
            </div>
        </div>
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be22">区域</span>
                <span class="be33">名称</span>
                <span class="be11">地址</span>
                <span class="be44">经度</span>
                <span class="be44">纬度</span>
                <span class="be55">等级</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @foreach (var item in Model.DeliveryStations)
                    {
                        <li>
                            <div class="member-circle clearfix">
                                <div class="ci22">@item.Location</div>
                                <div class="ci33">@Html.ActionLink(@item.Name, "DeliveryStationListDetail", new { deliveryStationId = @item.Id })</div>
                                <div class="ci11">@item.Address</div>
                                <div class="ci44">@item.Latitude</div>
                                <div class="ci44">@item.Longitude</div>
                                <div class="ci55" style="border:none;">@item.StationLevel</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                @foreach (var pageNum in Model.pageBar)
                {
                    if (pageNum == Model.PageIndex)
                    {
                        <a class="searchStation current" href="javascript:void(0)">@pageNum.ToString()</a>
                    }
                    else if (pageNum == 0)
                    {
                        <span class="pc-search-di">…</span>
                    }
                    else
                    {
                        <a class="searchStation" href="/Delivery/DeliveryStationList?indexNum=@pageNum">@pageNum.ToString()</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- 商城快讯 End -->
<script>
    $(".searchStation").click(function(event){
        event.preventDefault();
        var str = $(this).attr("href");
        var deliveryStationName = $("input[name='deliveryStationName']").val();
        var provinceName = $("#selProvince").val();
        var cityName = $("#selCity").val();
        var areaName = $("#selDistrict").val();

        if (deliveryStationName != "") {
            str = padLetter(str) 
            str += "deliveryStationName=" + deliveryStationName;
        }
        if (provinceName != 0){
            str = padLetter(str) 
            str += "provinceName=" + $("#selProvince option:selected").text();
        }
        if (cityName != 0){
            str = padLetter(str) 
            str += "cityName=" + $("#selCity option:selected").text();
        }
        if (areaName != 0){
            str = padLetter(str) 
            str += "areaName=" + $("#selDistrict option:selected").text();
        }

        location.href = str;
    });

    function padLetter(str){
        if (str.indexOf('?')!= -1) {
            str += "&";
        }
        else {
            str += "?";
        }
        return str;
    }
</script>
