@model AirShopp.UI.Models.ViewModel.DeliveryOrderListViewModel
@{
    Layout = "~/Views/Shared/_backEndLayout.cshtml";
}
@Styles.Render("~/bundles/AirShopp/Inventory/Css")
@Scripts.Render("~/bundles/AirShopp/Inventory/js")
<!-- 商城快讯 begin -->
<style>
    .be11 {
        width: 380px;
        text-align: center;
        float: left;
        height: 48px;
        line-height: 48px;
        color: #a3a3a3;
    }

    .be22 {
        width: 193px;
        text-align: center;
        float: left;
        height: 48px;
        line-height: 48px;
        color: #a3a3a3;
    }

    .ci11 {
        width: 380px;
        text-align: center;
        float: left;
        height: 60px;
        line-height: 60px;
        border-right: 1px solid #e0e0e0;
    }

    .ci22 {
        width: 193px;
        text-align: center;
        float: left;
        height: 60px;
        line-height: 60px;
        border-right: 1px solid #e0e0e0;
    }

    .ci33 {
        width: 193px;
        text-align: center;
        float: left;
        height: 60px;
        line-height: 60px;
    }
</style>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>出库单</h2></div>
        <div class="member-backs member-icons fr"><a href="javascript:void(0)">搜索</a></div>
        <div class="member-about fr"><input type="text" placeholder="出库单编号"></div>
    </div>
    <div class="member-border">
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be22">出库单编号</span>
                <span class="be11">收货人</span>
                <span class="be22">总金额</span>
                <span class="be22">出库日期</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @foreach (var item in Model.DeliveryOrderDataModelList)
                    {
                        <li>
                            <div class="member-circle clearfix">
                                <div class="ci22">
                                    @Html.ActionLink(@item.DeliveryOrderNumber, "DeliveryOrderDetail", new { deliveryOrderId = @item.Id})
                                </div>
                                <div class="ci11">@item.AddressAndReceiver</div>
                                <div class="ci22">￥@item.TotalAmount</div>
                                <div class="ci33">@item.DeliveryDate</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                <a style="display:none" class="fl " href="#">上一页</a>
                <a href="#" class="current">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <span class="pc-search-di">…</span>
                <a href="javascript:;">1088</a>
                <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
            </div>
        </div>
    </div>
</div>
<!-- 商城快讯 End -->
