@model AirShopp.UI.Models.ViewModel.CommentViewModel
@{
    ViewBag.Title = "AddComment";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";

}
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>我的评价</h2></div>
    </div>
    <div class="member-border">
        <div class="member-column clearfix">
            <span class="co1">商品信息</span>
            <span class="co2">购买时间</span>
            <span class="co3">评价状态</span>
        </div>
        @if (Model.OrderItem != null)
        {
        using (Html.BeginForm("AddComment", "Comment", FormMethod.Post, new { @id = "form" }))
        {
            <input name="productId" value="@Model.OrderItem.ProductId" type="hidden"/>
            <input name="orderItemId" value="@Model.OrderItem.Id" type="hidden" />
        <div class="member-class clearfix">
            <ul>
                <li class="clearfix">
                    <div class="sp1">
                        <span class="gr1"><a href="/Product/getProduct?productId=@Model.OrderItem.Product.Id"><img width="60" height="60" about="" title="" src="@Model.OrderItem.Product.Url"></a></span>
                        <span class="gr2"><a href="/Product/getProduct?productId=@Model.OrderItem.Product.Id">@Model.OrderItem.Product.ProductName</a></span>
                        <span class="gr3">X @Model.OrderItem.Quantity</span>
                    </div>
                    <div class="sp2">@Model.OrderDate</div>
                    <div class="sp3"><input type="submit" value="发表评论"></div>
                </li>
            </ul>
        </div>
        <div class="member-setup clearfix">
            <ul>
                <li class="clearfix">
                    <div class="member-score fl"><i class="reds">*</i>商品评价：</div>
                    <div class="member-star fl">
                        <textarea maxlength="200" name="commentStr"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        }
        }
        <div class="member-class clearfix">
            <ul>
                @for (int i = 0; i < Model.CommentList.Count(); i++)
                {
                    <li class="clearfix">
                        <div class="sp1">
                            <span class="gr1"><a href="/Product/getProduct?productId=@Model.CommentList[i].ProductId"><img width="60" height="60" about="" title="" src="@Model.CommentList[i].ProductUrl"></a></span>
                            <span class="gr2"><a href="/Product/getProduct?productId=@Model.CommentList[i].ProductId">@Model.CommentList[i].ProductName</a></span>
                        </div>
                        <div class="sp2">@Model.CommentList[i].CommentDate</div>
                        <div class="sp3" style="position:relative"><div style="position:absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);"><label>@Model.CommentList[i].Comments</label></div></div>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                @foreach (var pageNum in Model.pageBar)
            {
                if (pageNum == Model.PageIndex)
                {
                        @Html.ActionLink(pageNum.ToString(), "Index", "Comment", new { @class = "current", indexNum = pageNum });
                }
                else if (pageNum == 0)
                {
                        <span class="pc-search-di">…</span>
                    }
                    else
                    {
                        @Html.ActionLink(pageNum.ToString(), "Index", "Comment", new { indexNum = pageNum }, new { Target = "_self" });
                }
            }
            </div>
        </div>
    </div>
</div>

