@model AirShopp.UI.Models.ViewModel.ShopCartViewModel
@{
    ViewBag.Title = "ShopCart";
    Layout = "~/Views/Shared/_shopCartLayout.cshtml";
}
@Scripts.Render("~/bundles/AirShopp/Cart/js")
@Styles.Render("~/bundles/AirShopp/Cart/Css")
<section>
    <div class="pc-details">
        <div id="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="shopping">
                <tr>
                    <td class="title_1"><input id="allCheckBox" type="checkbox" value="" onclick="selectAll()" />全选</td>
                    <td class="title_2" colspan="2">店铺宝贝</td>
                    <td class="title_3">获积分</td>
                    <td class="title_4">单价（元）</td>
                    <td class="title_5">数量</td>
                    <td class="title_6">小计（元）</td>
                    <td class="title_7">操作</td>
                </tr>
                <tr>
                    <td colspan="8" class="line"></td>
                </tr>
                @{ var i = 1;}
                @foreach (var cartProduct in Model.ShopCart)
                {
                    var trId = "product" + i;
                    var tdClass = "select" + (i + 2);
                    var tdId = "p" + cartProduct.Id;
                    <tr id="@trId" class="cartItem">
                        <td class="cart_td_1"><input name="cartCheckBox" class="@tdClass" type="checkbox" id="@tdId" value="@cartProduct.Id" onclick="selectSingle()" /></td>
                        <td class="cart_td_2"><img style="width:80px;height:80px;" src="@cartProduct.PictureUrl" alt="shopping" /></td>
                        <td class="cart_td_3">
                            <a href="#">@cartProduct.ProductName</a><br />
                            保障：<img src="~/Content/img/cart/taobao_icon_01.jpg" alt="icon" />
                        </td>
                        <td class="cart_td_4">@cartProduct.ProductCredit</td>
                        <td class="cart_td_5">@cartProduct.Price</td>
                        <td class="cart_td_6"><img src="~/Content/img/cart/taobao_minus.jpg" alt="minus" onclick="changeNum('num_@i','minus')" class="hand" /> <input id="num_@i" type="text" value="@cartProduct.ProductAmount" class="num_input" readonly="readonly" /> <img src="~/Content/img/cart/taobao_adding.jpg" alt="add" onclick="changeNum('num_@i','add')" class="hand" /></td>
                        <td class="cart_td_7"></td>
                        <td class="cart_td_8"><a href="javascript:deleteRow('@cartProduct.Id');">删除</a></td>
                    </tr>
                    i++;
                }
                <tr>
                    <td colspan="3"><a href="javascript:deleteSelectRow()"><img src="~/Content/img/cart/taobao_del.jpg" alt="delete" /></a></td>
                    <td colspan="5" class="shopend">
                        商品总价（不含运费）：<label id="total" class="yellow"></label> 元<br />
                        可获积分 <label class="yellow" id="integral"></label> 点<br />
                        <input name="" type="image" src="~/Content/img/cart/taobao_subtn.jpg" onclick="CheckOrder()"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="page" style="padding:0 0 5px 0;width:100%;margin:0">
            <div class="pagination" style="margin:0 auto;">
                @foreach (var pageNum in Model.pageBar)
                {
                    if (pageNum == Model.PageIndex)
                    {
                        @Html.ActionLink(pageNum.ToString(), "LoadCartList", "Cart", new { indexNum = pageNum }, new { @class = "current", Target = "_self" });
                    }
                    else if (pageNum == 0)
                    {
                        <span class="pc-search-di">…</span>
                    }
                    else
                    {
                        @Html.ActionLink(pageNum.ToString(), "LoadCartList", "Cart", new { indexNum = pageNum }, new { Target = "_self" });
                    }
                }
            </div>
        </div>
    </div>
</section>
<script>
    function CheckOrder()
    {
        var cartItemStr = "";
        $("input[type='checkbox']:checked").each(function () {
            cartItemStr += $(this).val();
            cartItemStr += ";";
        })
        var totalAmount = $("#total").html();
        if (totalAmount != 0) {
             window.location.href = "/Order/CheckOrder?cartItemStr=" + cartItemStr + "&totalAmount=" + totalAmount ;
        } else
        {
            alert("请选择要购买的商品！");
        }
    }
    $(function () {
        var width = 0;
        $(".pagination").children().each(function () {
            width += $(this).outerWidth();
        });
        $(".pagination").width(width+ ($(".pagination").children().length * 2) + 2);
    });

</script>
