@model AirShopp.UI.Models.ViewModel.AddressListViewModel
@{
    ViewBag.Title = "AddressList";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";
}
<style>
    #form ul li {
        display: inline-block;
        padding-top:5px;
        padding-bottom:5px;
    }

    #form ul li:first-child {
        width: 205px;
        text-align: right;
    }

    #form ul li:last-of-type{
        padding-left:15px;
    }

    #form ul .pc-event a{
        padding-right:10px;
    }

</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BZpwjUXFrAlT6g87xFxY4c3Cf82zen93"></script>
<script>
    function addAddress(){
        var areaId = $("#selDistrict").val();
        if (areaId == 0){
            alert("请选择省市区");
            return;
        }

        var address = $("#Address").val();
        if (address ==""){
            alert("请输入详细地址");
            return;
        }

        var name = $("#ReceiverName").val();
        if (name == ""){
            alert("请输入收货人姓名");
            return;
        }

        var phone = $("#ReceiverPhone").val();
        if (phone ==""){
            alert("请输入手机号码");
            return;
        }

        $("#form").submit();
    }
</script>
<script language="javascript">

    var province = @Html.Raw(Json.Encode(Model.ProvinceList));

    var city = @Html.Raw(Json.Encode(Model.CityList));

    var area = @Html.Raw(Json.Encode(Model.AreaList));

    $(function() {
        $.each(province, function(k, p) {
            var option = "<option value='" + p.ProvinceId + "'>" + p.ProvinceName + "</option>";
            $("#selProvince").append(option);
        });
        $("#selProvince").change(function() {
            var selValue = $(this).val();
            $("#selCity option:gt(0)").remove();
            $("#selDistrict option:gt(0)").remove();
            $.each(city, function(k, p) {
                if (p.ProvinceId == selValue) {
                    var option = "<option value='" + p.CityId + "'>" + p.CityName + "</option>";
                    $("#selCity").append(option);
                }
            });
        });
        $("#selCity").change(function() {
            var selValue = $(this).val();
            $("#selDistrict option:gt(0)").remove();
            $.each(area, function(k, p) {
                if (p.CityId == selValue) {
                    var option = "<option value='" + p.Id + "'>" + p.AreaName + "</option>";
                    $("#selDistrict").append(option);
                }
            });
        });
    });
</script>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>地址管理</h2></div>
    </div>
    <div class="member-border">
        <div class="member-newly">
            <b>新增收货地址</b>
            您已经创建了<i class="reds">@Model.AddressList.Count()</i>个收货地址了，最多可创建<i class="reds">20</i>个
        </div>
        <div style="border-bottom:1px solid #e0e0e0;padding:10px 0;">
            @using (Html.BeginForm("AddAddress", "Address", FormMethod.Post, new { @id = "form" }))
            {
                <ul>
                    <li>选择省份：</li>
                    <li>
                        <select id="selProvince" name="Province">
                            <option value="0">--请选择省份--</option>
                        </select>
                        <select id="selCity" name="City">
                            <option value="0">--请选择城市--</option>
                        </select>
                        <select id="selDistrict" name="AreaId">
                            <option value="0">--请选择区/县--</option>
                        </select>
                    </li>
                    <div class="pc-event" style="float:right;height:30px;line-height:30px;margin-right:20px;">
                        <a href="javascript:void(0)" style="color:#b61d1d;" onclick="addAddress()">保存 </a>
                        <a href="javascript:void(0)" style="color:#b61d1d;" onclick="$('#form')[0].reset();">重置</a>
                    </div>
                </ul>
                <ul>
                    <li>详细地址：</li>
                    <li>
                        @Html.TextBoxFor(m => m.Address, new {id = "Address", tabindex = "4", autocomplete = "off", placeholder = "建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" })
                    </li>
                </ul>
                <ul>
                    <li>收货人姓名：</li>
                    <li>
                        @Html.TextBoxFor(m => m.ReceiverName, new { id = "ReceiverName", tabindex = "5", autocomplete = "off", placeholder = "长度不超过25个字符" })
                    </li>
                </ul>
                <ul>
                    <li>手机号码：</li>
                    <li>
                        @Html.TextBoxFor(m => m.ReceiverPhone, new { id = "ReceiverPhone", tabindex = "6", autocomplete = "off" })
                    </li>
                </ul>
                <ul>
                    <li>设置为默认收货地址：</li>
                    <li>
                        @Html.CheckBoxFor(m => m.IsDefault, new { @id = "defaultAddress", tabindex = "7", autocomplete = "off", style = "vertical-align:middle" })
                        <label for="defaultAddress">设置为默认收货地址</label>
                    </li>
                </ul>
            }
        </div>
        <div class="member-sites">
            <ul>
                @for (int i = 0; i < Model.AddressList.Count(); i++)
                {
                    <li class="clearfix">
                        @if (Model.AddressList[i].IsDefault)
                        {
                            <div class="default fl"><a href="#">默认地址</a> </div>
                        }
                        <div class="user-info1 fl clearfix">
                            <div class="user-info">
                                <span class="info1">收货人：</span>
                                <span class="info2">@Model.AddressList[i].ReceiverName</span>
                            </div>
                            <div class="user-info">
                                <span class="info1">地址：</span>
                                <span class="info2">@Model.AddressList[i].DeliveryAddress</span>
                            </div>
                            <div class="user-info">
                                <span class="info1">手机：</span>
                                <span class="info2">@Model.AddressList[i].ReceiverPhone</span>
                            </div>
                        </div>
                        <div class="pc-event">
                            <a href="#" class="pc-event-d">设为默认地址</a>
                            <a href="#">编辑 </a>
                            <a href="#">删除</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="member-pages clearfix">
            <div class="fr pc-search-g">
                <a href="#" class="fl pc-search-f">上一页</a>
                <a class="current" href="#">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <span class="pc-search-di">…</span>
                <a onClick="SEARCH.page(3, true)" href="javascript:;" class="pc-search-n" title="使用方向键右键也可翻到下一页哦！">下一页</a>
                <span class="pc-search-y">
                    <em>  共20页    到第</em>
                    <input type="text" placeholder="1" class="pc-search-j">
                    <em>页</em>
                    <a class="confirm" href="#">确定</a>
                </span>
            </div>
        </div>
    </div>
</div>
