@{
    var user = Session["customer"] as AirShopp.Domain.Customer;
}
<!doctype html>
<html>
<head>
    <title>AirShopp</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/icon/Air.ico">
    @Scripts.Render("~/bundles/AirShopp/js")
    @Styles.Render("~/bundles/AirShopp/Layout")
    <style>
        .hint dl{
            width:100%;
            padding:30px 20px;
        }
        .hint dt{
            width:35%;
            height:50px;
            line-height:50px;
            text-align:right;
            float:left;
        }
        .hint dd{
            text-align:left;
            width:65%;
            height:50px;
            line-height:50px;
            float:left;
        }
         .hint dd span{
             padding-left:15px;
         }

         .hint11 dt{
            width:35%;
            height:50px;
            line-height:50px;
            text-align:right;
            float:left;
         }

         .hint11 dd{
            width:35%;
            height:50px;
            line-height:50px;
            text-align:right;
            float:left;
        }
         .hint11 select{
            width:50%;
            height:30px;
            text-align:right;
            float:left;
        }
    </style>
    <script>
        function addDeliveryStation(){
            $("#form").submit();
        }
    </script>
</head>
<body>
    <div class="box">
        <div class="hint" style="height:370px;">
            <div class="hint-in1">
                <div class="hint2">新增当前位置为派送点</div>
                <div class="hint3"></div>
            </div>
            @using (Html.BeginForm("AddDeliveryStation", "Delivery", FormMethod.Post, new { @id = "form" }))
            {
                <dl class="clearfix">
                    <dt>派送点名称：</dt>
                    <dd><input type="text" name="name" style="margin-left:15px;height:25px;line-height:25px"/></dd>
                    <dt>所属区域：</dt>
                    <dd><span id="location"></span></dd>
                    <dt>派送点地址：</dt>
                    <dd><span id="address"></span></dd>
                    <dt>当前派送点经纬度：</dt>
                    <dd><span id="point"></span></dd>
                    <dt></dt>
                    <dd><span><a href="javascript:void(0);" class="hint-in3" onclick="addDeliveryStation()" style="margin:0;margin-left:15px;margin-top:30px;">保存收货地址</a></span></dd>
                </dl>
                <input type="hidden" name="address" />
                <input type="hidden" name="lat" />
                <input type="hidden" name="lng"/>
                <input type="hidden" name="location" />
            }
        </div>
    </div>
    <div class="box1">
        <div class="hint1" style="height:580px;">
            <div class="hint-in11">
                <div class="hint2">Kenneth1</div>
                <div class="hint33"></div>
            </div>
        </div>

    </div>

  <!--- header begin-->
    <header id="pc-header">
        <div class="BHeader">
            <div class="yNavIndex">
                <ul class="BHeaderl">
                    <li>@Html.ActionLink(user.Account, "GetUser", "User", null, new { style = "color:#ea4949" })</li>
                    <li class="headerul">|</li>
                    <li>@Html.ActionLink("回到首页", "Index", "Home")</li>
                    <li class="headerul">|</li>
                    <li>@Html.ActionLink("订单查询", "Index", "Order")</li>
                    <li class="headerul">|</li>
                    <li><a href="my-s.html">我的收藏</a> </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- header End -->
    <!-- 商城快讯 begin -->
    <section id="member">
        <div class="member-center clearfix">
            <div class="member-left fl">
                <div class="member-apart clearfix">
                    <div class="fl"><a href="#"><img src="~/Content/img/bg/mem.png"></a></div>
                    <div class="fl">
                        <p>用户名：</p>
                        <p><a href="javascript:void(0)">@user.Account</a></p>
                    </div>
                </div>
                <div class="member-lists">
                    <dl>
                        <dt>选择操作</dt>
                        <dd><a href="@Url.Action("getAllInventoryProduct", "Inventory")">所有商品</a></dd>
                        <dd><a href="@Url.Action("GetProductOutList", "Inventory")">出库记录</a></dd>
                        <dd><a href="#">入库记录</a></dd>
                        <dd><a href="#">热销商品</a></dd>
                        <dd><a href="#">待发货</a></dd>
                    </dl>
                    <dl>
                        <dt>物流管理</dt>
                        <dd><a href="@Url.Action("AddDeliveryStation", "Delivery")">新增派送点</a></dd>
                        <dd><a href="@Url.Action("DeliveryStationList", "Delivery")">派送点管理</a></dd>
                        <dd><a href="@Url.Action("DeliveryOrderList", "Delivery")">出库单管理</a></dd>
                        <dd><a href="@Url.Action("DeliveryNoteList", "Delivery")">派送单管理</a></dd>
                    </dl>
                    <dl>
                        <dt>订单管理</dt>
                        <dd><a href="@Url.Action("OrderManageList", "Order")">订单管理</a></dd>
                        <dd><a href="@Url.Action("ReturnManageList", "Order")">退货管理</a></dd>
                    </dl>
                </div>
            </div>
            <!-- 商城快讯 End -->
            @RenderBody()
        </div>
    </section>

</body>
</html>