<!doctype html>
<html>
<head>
    <title>AirShopp</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/icon/Air.ico">
    @Styles.Render("~/bundles/AirShopp/BasicTemplate/Css")
    @Scripts.Render("~/bundles/AirShopp/BasicTemplate/js")
    <script type="text/javascript">
        (function (a) {
            a.fn.hoverClass = function (b) {
                var a = this;
                a.each(function (c) {
                    a.eq(c).hover(function () {
                        $(this).addClass(b)
                    }, function () {
                        $(this).removeClass(b)
                    })
                });
                return a
            };
        })(jQuery);

        $(function () {
            $("#pc-nav").hoverClass("current");
        });
    </script>
    <style>
        .menu .subnav {
            top: 35px;
            left: 0;
            background: #f5f5f5;
        }

        .subnav a:hover {
            background: #ea4949;
            color: #ffffff;
        }

        .container {
            height: 80px;
        }
    </style>
</head>
<body>
    <!--- header begin-->
    <header id="pc-header">
        <div class="BHeader">
            <div class="yNavIndex">
                <ul class="BHeaderl">
                    @if (Session["CUSTOMER"] != null)
                    {
                        var user = Session["CUSTOMER"] as AirShopp.Domain.Customer;
                        <li>@Html.ActionLink(user.CustomerName, "UserInfo", "User")</li>
                        <li>@Html.ActionLink("退出", "Logout", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("您好，请登录", "Login", "User", null, new { style = "color:#ea4949" })</li>
                        <li class="headerul">|</li>
                        <li>@Html.ActionLink("免费注册", "Register", "User")</li>
                    }
                    <li class="headerul">|</li>
                    <li>
                        @Html.ActionLink("订单查询", "Index", "Order")
                    <li class="headerul">|</li>
                    <li id="pc-nav" class="menu">
                        <a href="javascript:void(0)" class="tit">我的商城</a>
                        <div class="subnav">
                            @Html.ActionLink("我的订单", "Index", "Order")
                            <a href="my-user.html">账户安全</a>
                            @Html.ActionLink("地址管理", "GetAddress", "Address", null)
                            <a href="my-p.html">我要评价</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container clearfix">
            <div class="header-logo fl"><h1><a href="@Url.Action("Index", "Home")"><img style="width:200px" src="~/Content/icon/AirShoppLogo.png"></a> </h1></div>
            <div class="member-title fl"><h2></h2></div>
            <div class="head-form fl">
                <form class="clearfix">
                    <input type="text" class="search-text" accesskey="" id="key" autocomplete="off" placeholder="洗衣机">
                    <button class="button" onClick="search('key');return false;">搜索</button>
                </form>
                <div class="words-text clearfix">
                    <a href="#" class="red">1元秒爆</a>
                    <a href="#">低至五折</a>
                    <a href="#">农用物资</a>
                    <a href="#">买一赠一</a>
                    <a href="#">佳能相机</a>
                    <a href="#">稻香村月饼</a>
                    <a href="#">服装城</a>
                </div>
            </div>
            <div class="header-cart fr"><a href="#"><img src="~/Content/icon/car.png"></a> <i class="head-amount">@Session["CARTPRODUCTCOUNT"]</i></div>
        </div>
    </header>
    <!-- header End -->
    @RenderBody();
    <!--- footer begin-->
    <div class="aui-footer-bot">
        <div class="time-lists aui-footer-pd clearfix">
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d1.png"></span>
                    <em>消费者权益</em>
                </h4>
                <ul>
                    <li><a href="#">保障范围 </a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d2.png"></span>
                    <em>新手上路</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d3.png"></span>
                    <em>保障正品</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d1.png"></span>
                    <em>消费者权益</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
        </div>
        <div style="border-bottom:1px solid #dedede"></div>
        <div class="time-lists aui-footer-pd time-lists-ls clearfix">
            <div class="aui-footer-list clearfix">
                <h4>购物指南</h4>
                <ul>
                    <li><a href="#">保障范围 </a> </li>
                    <li><a href="#">购物流程</a> </li>
                    <li><a href="#">会员介绍 </a> </li>
                    <li><a href="#">生活旅行</a> </li>
                    <li><a href="#"> 常见问题 </a> </li>
                    <li><a href="#"> 联系客服购物指南 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>特色服务</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>帮助中心</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>新手指导</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer End -->
</body>
</html>
