@{
    ViewBag.Title = "_orderPageLayout";
    Layout = "~/Views/Shared/_basicTemplateLayout.cshtml";
    var user = Session["CUSTOMER"] as AirShopp.Domain.Customer;
}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">会员中心 </a> &gt; <a href="#">商城快讯</a></div></div>
<!-- 商城快讯 begin -->
<section id="member">
    <div class="member-center clearfix">
        <div class="member-left fl">
            <div class="member-apart clearfix">
                <div class="fl"><a href="#"><img src="~/Content/img/bg/mem.png"></a></div>
                <div class="fl">
                    <p>用户名：</p>
                    <p>@Html.ActionLink(@user.CustomerName, "UserInfo", "User")</p>
                    <p>宝宝号：</p>
                    <p>@user.Id</p>
                </div>
            </div>
            <div class="member-lists">
                <dl>
                    <dt>我的商城</dt>
                    <dd>
                        @Html.ActionLink("我的订单", "Index", "Order")
                    </dd>
                    <dd>@Html.ActionLink("账户安全", "UserInfo", "User")</dd>
                    <dd>@Html.ActionLink("我的评价", "Index", "Comment")</dd>
                    <dd>@Html.ActionLink("地址管理", "GetAddress","Address")</dd>
                </dl>
                <dl>
                    <dt>客户服务</dt>
                    <dd>@Html.ActionLink("退货申请", "GetReturnRequest", "Order")</dd>
                    <dd>@Html.ActionLink("退货/退款记录", "ReturnList", "Order")</dd>
                </dl>
                <dl>
                    <dt>我的消息</dt>
                    <dd><a href="#">商城快讯</a></dd>
                    <dd><a href="#">帮助中心</a></dd>
                </dl>
            </div>
        </div>
        @RenderBody()
    </div>
</section>
<!-- 商城快讯 End -->