@model AirShopp.UI.Models.ViewModel.OrderConfirmViewModel
@{
    ViewBag.Title = "CheckOrder";
    Layout = null;
    @Scripts.Render("~/bundles/AirShopp/js")
    @Styles.Render("~/bundles/AirShopp/Layout")
    var user = Session["CUSTOMER"] as AirShopp.Domain.Customer;

}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus®">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="renderer" content="webkit">
    <title>提交订单</title>
    <link rel="shortcut icon" type="image/x-icon" href="theme/icon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="theme/css/base.css">
    <link rel="stylesheet" type="text/css" href="theme/css/home.css">
    <script type="text/javascript" src="theme/js/jquery.js"></script>
    <script type="text/javascript">
         (function(a){
             a.fn.hoverClass=function(b){
                 var a=this;
                 a.each(function(c){
                     a.eq(c).hover(function(){
                         $(this).addClass(b)
                     },function(){
                         $(this).removeClass(b)
                     })
                 });
                 return a
             };
         })(jQuery);

         $(function(){
             $("#pc-nav").hoverClass("current");
         });

         $(document).ready(function($){

             $(".btn1").click(function(event){
                 $(".hint").css({"display":"block"});
                 $(".box").css({"display":"block"});
             });

             $(".hint-in3").click(function(event) {
                 $(".hint").css({"display":"none"});
                 $(".box").css({"display":"none"});
             });

             $(".hint3").click(function(event) {
                 $(this).parent().parent().css({"display":"none"});
                 $(".box").css({"display":"none"});
             });

             $("#H-table li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over").hide();
                         $(".H-over:eq(" + _index + ")").show();
                     }
                 })(i));
             });

         });
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BZpwjUXFrAlT6g87xFxY4c3Cf82zen93"></script>
    <script>
    function addAddress(){
        var areaId = $("#selDistrict").val();
        if (areaId == 0){
            alert("请选择省市区");
            return;
        }

        var address = $("#Address").val();
        if (address ==""){
            alert("请输入详细地址");
            return;
        }

        var name = $("#ReceiverName").val();
        if (name == ""){
            alert("请输入收货人姓名");
            return;
        }

        var phone = $("#ReceiverPhone").val();
        if (phone ==""){
            alert("请输入手机号码");
            return;
        }
        $("#defaultAddress").prop('checked', true);
        $("#form").submit();
    }
    </script>
    <script language="javascript">

    var province = @Html.Raw(Json.Encode(Model.ProvinceList));

    var city = @Html.Raw(Json.Encode(Model.CityList));

    var area = @Html.Raw(Json.Encode(Model.AreaList));

    $(function() {
        $.each(province, function(k, p) {
            var option = "<option value='" + p.ProvinceId + "'>" + p.ProvinceName + "</option>";
            $("#selProvince").append(option);
        });
        $("#selProvince").change(function() {
            var selValue = $(this).val();
            $("#selCity option:gt(0)").remove();
            $("#selDistrict option:gt(0)").remove();
            $.each(city, function(k, p) {
                if (p.ProvinceId == selValue) {
                    var option = "<option value='" + p.CityId + "'>" + p.CityName + "</option>";
                    $("#selCity").append(option);
                }
            });
        });
        $("#selCity").change(function() {
            var selValue = $(this).val();
            $("#selDistrict option:gt(0)").remove();
            $.each(area, function(k, p) {
                if (p.CityId == selValue) {
                    var option = "<option value='" + p.Id + "'>" + p.AreaName + "</option>";
                    $("#selDistrict").append(option);
                }
            });
        });
    });
    </script>
</head>
<body>

    <div class="box">
        <div class="hint">
            <div class="hint-in1">
                <div class="hint2">添加收货地址</div>
                <div class="hint3"></div>
            </div>

            @using (Html.BeginForm("AddAddress", "Address", FormMethod.Post, new { @id = "form" }))
            {
                <div class="pc-label"><label><i class="reds ">*</i>收货人:</label>@Html.TextBoxFor(m => m.ReceiverName, new { id = "ReceiverName", tabindex = "5", autocomplete = "off", placeholder = "长度不超过25个字符" })</div>
                <div class="pc-label" style="display:none">@Html.TextBoxFor(m => m.OrderId, new { Value = Model.order.Id })</div>
                <div id="sjld" style="margin-top:10px; padding-left:40px; position:relative;" class="clearfix">

                    <div class="clearfix" style="padding-bottom:5px;"><i class="reds fl">*</i><p class="fl">所在地区:</p></div>

                    <div class="m_zlxg" id="shenfen">
                        <select id="selProvince" name="Province">
                            <option value="0">--请选择省份--</option>
                        </select>
                        <div class="m_zlxg2">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="m_zlxg" id="chengshi">
                        <select id="selCity" name="City">
                            <option value="0">--请选择城市--</option>
                        </select>
                        <div class="m_zlxg2">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="m_zlxg" id="quyu">
                        <select id="selDistrict" name="AreaId">
                            <option value="0">--请选择区/县--</option>
                        </select>
                        <div class="m_zlxg2">
                            <ul></ul>
                        </div>
                    </div>
                </div>

                <div class="pc-label"><i class="reds ">*</i>详细地址:@Html.TextBoxFor(m => m.Address, new { id = "Address", tabindex = "4", autocomplete = "off", placeholder = "建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" })</div>
                <div class="pc-label"><i class="reds ">*</i>手机号码:@Html.TextBoxFor(m => m.ReceiverPhone, new { id = "ReceiverPhone", tabindex = "6", autocomplete = "off" })</div>
                <div class="pc-label" style="display:none;">@Html.CheckBoxFor(m => m.IsDefault, new { @id = "defaultAddress", tabindex = "7", autocomplete = "off", style = "vertical-align:middle" })<label for="defaultAddress">设置为默认收货地址</label></div>
                <a href="javascript:void(0);" class="hint-in3" onclick="addAddress()">保存收货地址</a>
            }
        </div>

    </div>

    <!--- header begin-->
    <header id="pc-header">
        <div class="BHeader">
            <div class="yNavIndex">
                <ul class="BHeaderl">
                    @if (Session["CUSTOMER"] != null)
                    {
                        //var user = Session["CUSTOMER"] as AirShopp.Domain.Customer;
                        <li>@Html.ActionLink(@user.CustomerName, "UserInfo", "User")</li>
                        <li>@Html.ActionLink("退出", "Logout", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("您好，请登录", "Login", "User", null, new { style = "color:#ea4949" })</li>
                        <li class="headerul">|</li>
                        <li>@Html.ActionLink("免费注册", "Register", "User")</li>
                    }
                    <li class="headerul">|</li>
                    <li>
                        @Html.ActionLink("订单查询", "Index", "Order")
                    <li class="headerul">|</li>
                    <li id="pc-nav" class="menu">
                        <a href="javascript:void(0)" class="tit">我的商城</a>
                        <div class="subnav">
                            @Html.ActionLink("我的订单", "Index", "Order")
                            <a href="/User/UserInfo">账户安全</a>
                            @Html.ActionLink("地址管理", "GetAddress", "Address")
                            <a href="/Comment/Index">我的评价</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container clearfix">
            <div class="header-logo fl" style="width:212px;"><h1><a href="@Url.Action("Index", "Home")"><img src="~/Content/icon/AirShoppLogo.png"></a></h1></div>
            <div class="pc-order-titlei fl"><h2></h2></div>
            <div class="pc-step-title fl">
                <ul>
                    <li class="cur2"><a href="javascript:void(0)">1 . 我的购物车</a></li>
                    <li class="cur"><a href="javascript:void(0)">2 . 填写核对订单</a></li>
                    <li><a href="javascript:void(0)">3 . 成功提交订单</a></li>
                </ul>
            </div>
        </div>

    </header>
    <!-- header End -->
    <!-- 订单提交成功 begin-->
    <section>
        <div class="containers">
            <div class="pc-space">
                <div class="pc-order-title clearfix"><h3 class="fl">收货人信息</h3> 
                <a href="javascript:void(0)" class="fr pc-order-add btn1">新增收货地址</a>
                <a href="/Address/GetAddress?OrderId=@Model.OrderId" style="float:right; background:url('../Content/icon/jia.png') no-repeat left; padding-left:16px; color:#c81623">更改地址</a></div>
                <div class="pc-border">
                    <div class="pc-order-text clearfix">
                        <ul class=" clearfix">
                            <li class="clearfix fl">
                                <div class="fl pc-frame pc-frams"> <a href="javascript:void(0)">默认地址</a></div>
                                <div class="fl pc-address"><span>@Model.order.Address.ReceiverName</span> <span> @Model.order.Address.ReceiverPhone </span> <span>@Model.order.Address.DeliveryAddress</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pc-space">
                <div class="pc-order-title clearfix"><h3 class="fl">支付方式</h3></div>
                <div class="pc-border">
                    <div class="pc-order-text clearfix">
                        <ul class=" clearfix">
                            <li class="clearfix fl">
                                <div class="fl pc-frame pc-frams"> <a href="javascript:void(0)"> 在线支付</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pc-space clearfix">
                <div class="fl ">
                    <div class="pc-order-title clearfix"><h3 class="fl">收货人信息</h3></div>
                    <div class="fr pc-border">
                        <div class="pc-order-text pc-order-l clearfix">
                            <ul id="H-table" class="clearfix H-table">
                                <li class="cur">
                                    <a href="javascript:void(0);">自营快递</a>
                                </li>
                                <li class="cur" style="visibility:hidden">
                                    <a href="javascript:void(0);">自营快递</a>
                                </li>
                                <li class="cur" style="visibility:hidden">
                                    <a href="javascript:void(0);">自营快递</a>
                                </li>
                            </ul>
                            <div class="" style="height:211px"></div>
                            <div class="pc-line"></div>
                            <div class="pc-freight"><p>运费：  0.00元</p></div>
                        </div>
                    </div>
                </div>
                <div class="fr ">
                    <div class="pc-order-title clearfix"><h3 class="fl">商品信息</h3></div>
                    <div class="pc-border">
                        <div class="pc-order-text clearfix">
                            @for (int i = 0; i < Model.order.OrderItems.Count(); i++)
                            {
                                var orderItems = @Model.order.OrderItems.ToList();
                                AirShopp.Domain.OrderItem orderItem = orderItems[i] as AirShopp.Domain.OrderItem;
                                <div class="clearfix pc-wares-p">
                                    <div class="fl pc-wares"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="80" height="80"></a></div>
                                    <div class="fl pc-wares-w"> <a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a> <p class="clearfix"><span class="fl">颜色：白色</span><span class="fr">版本：联通高</span></p></div>
                                    <div class="fl pc-wares-s"><span class="reds">￥@(orderItem.DiscountPrice * orderItem.Quantity)</span><span>x @orderItem.Quantity</span><span>有货</span></div>
                                </div>
                            }
                            <div class="pc-written"><p>订单留言</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="fr pc-list-t">
                    <ul>
                        <li><span><b>2</b> 件商品，总商品金额：</span> <em>￥@Model.ActuallyAmount</em></li>
                        <li><span>减额：</span> <em>￥@Model.DisCountAmount</em></li>
                        <li><span>运费：</span> <em>￥0.00</em></li>
                        <li><span>应付总额：</span> <em>￥@Model.order.TotalAmount</em></li>
                    </ul>
                </div>
            </div>
            <div class="pc-space-n"></div>
            <div class="clearfix">
                <div class="fr pc-space-j">
                    <span>应付总额：<strong>￥@Model.order.TotalAmount</strong></span>
                    <button class="pc-submit" onclick="window.location.href = '/Order/SubmitOrder?orderId='+@Model.order.Id">提交订单</button>
                </div>
            </div>
        </div>
    </section>
    <!-- 订单提交成功 End-->
    <!--- footer begin-->
    <div class="aui-footer-bot">
        <div class="time-lists aui-footer-pd clearfix">
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d1.png"></span>
                    <em>消费者权益</em>
                </h4>
                <ul>
                    <li><a href="#">保障范围 </a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d2.png"></span>
                    <em>新手上路</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d3.png"></span>
                    <em>保障正品</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>
                    <span><img src="~/Content/icon/icon-d1.png"></span>
                    <em>消费者权益</em>
                </h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
        </div>
        <div style="border-bottom:1px solid #dedede"></div>
        <div class="time-lists aui-footer-pd time-lists-ls clearfix">
            <div class="aui-footer-list clearfix">
                <h4>购物指南</h4>
                <ul>
                    <li><a href="#">保障范围 </a> </li>
                    <li><a href="#">购物流程</a> </li>
                    <li><a href="#">会员介绍 </a> </li>
                    <li><a href="#">生活旅行</a> </li>
                    <li><a href="#"> 常见问题 </a> </li>
                    <li><a href="#"> 联系客服购物指南 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>特色服务</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>帮助中心</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
            <div class="aui-footer-list clearfix">
                <h4>新手指导</h4>
                <ul>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">退货退款流程</a> </li>
                    <li><a href="#">服务中心 </a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#">服务中心</a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                    <li><a href="#"> 更多特色服务 </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer End -->

    <script type="text/javascript" src="theme/js/address.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#sjld").sjld("#shenfen","#chengshi","#quyu");

        });
    </script>
</body>
</html>