@model AirShopp.Domain.Order
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";
}
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>订单号：@Model.Id</h2></div>
        <div class="member-backs fr">@Html.ActionLink("返回订单首页", "Index", "Order", new { customerId = (Session["customer"] as AirShopp.Domain.Customer).Id }, new { style = "color:#FFFFFF" })
        </div>
    </div>
    <div class="member-border">
        <div class="member-order">
            <dl>
                <dt>发货信息</dt>
                <dd class="member-seller">卖家已发货 <a href="#">（物流查询）</a> </dd>
            </dl>
            <dl class="member-custom clearfix ">
                <dt>订单信息</dt>
                <dd>订单编号：@Model.Id</dd>
                <dd>订单金额：@Model.TotalAmount</dd>
                <dd>付款时间：@Model.OrderDate</dd>
                <dd>发货时间：2015-09-22 08：22</dd>
            </dl>
            <dl>
                <dt>配送信息</dt>
                <dd class="member-seller"><span>收货地址：<em>@Model.Address.ReceiverName</em></span> <span>@Model.Address.ReceiverPhone</span> <span>@Model.Address.DeliveryAddress</span></dd>
            </dl>
            @*<dl class="member-custom clearfix ">
                <dt>发票信息</dt>
                <dd>发票类型：电子发票 发票下载</dd>
                <dd>发票抬头：公司</dd>
                <dd>发票内容：化妆品</dd>
            </dl>
            <dl>
                <dt>商品信息</dt>
                <dd class="member-seller">本订单是由 “以纯甲醇旗舰店” 发货并且提高售后服务，商品在下单后会尽快给您发货。 </dd>
            </dl>*@
        </div>
        <div class="member-serial">
            <ul>
                <li class="clearfix">
                    <div class="No1">商品编号</div>
                    <div class="No2">商品详情</div>
                    <div class="No3">数量</div>
                    <div class="No4">单价</div>
                    <div class="No5">小计</div>
                </li>
                @for(int i = 0; i < Model.OrderItems.Count(); i++)
                {
                    var orderItems = Model.OrderItems.ToList();
                    AirShopp.Domain.OrderItem orderItem = orderItems[i] as AirShopp.Domain.OrderItem;
                    <li class="clearfix">
                        <div class="No1">@orderItem.Product.Id</div>
                        <div class="No2"><a href="#">@orderItem.Product.ProductName</a> </div>
                        <div class="No3">@orderItem.Quantity</div>
                        <div class="No4">@orderItem.UnitPrice</div>
                        <div class="No5">@orderItem.DiscountPrice</div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="member-settle clearfix">
        <div class="fr">
            <div><span>商品金额：</span><em>￥@Model.TotalAmount</em></div>
            <div><span>运费：</span><em>￥0.00</em></div>
            <div class="member-line"></div>
            <div><span>共需支付：</span><em>￥@Model.TotalAmount</em></div>
        </div>
    </div>
</div>