@model AirShopp.UI.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";
}
<script>
     $(function () {
        $("#H-table li").click(function(event){
            $(this).addClass("cur").siblings().removeClass("cur");
            var _index = 0;
            $("#H-table li").each(function(i){
                if ($(this).hasClass("cur")){
                    _index = i;
                }
            });
            $(".H-over").hide();
            $(".H-over:eq(" + _index + ")").show();

            $(".member-circle").each(function (i) {
                $(this).css("height", $(this).children("div.ci1").css("height"));
            });
        });

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
        $("#linkToDelivery").mouseover(function () {
            $("#deliveryDiv").show();
        }).mouseout(function () {
            $("#deliveryDiv").hide();
        });
        $(".btn1").click(function (event) {
            $(".hint").css({ "display": "block" });
            $(".box").css({ "display": "block" });
        });

        $(".hint-in3").click(function (event) {
            $(".hint").css({ "display": "none" });
            $(".box").css({ "display": "none" });
        });

        $(".hint3").click(function (event) {
            $(this).parent().parent().css({ "display": "none" });
            $(".box").css({ "display": "none" });
        });
    });
</script>
<style>
    .member-circle .amanda1 {
        height: 100%;
        padding-top: 0;
        position: relative;
        background: none;
    }

    .amanda1 div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .member-circle .ci5 {
        line-height: 25px;
    }
</style>
<div class="box" style="width:200px;height:135px; border:1px solid black; background:#ffffff;position:fixed; left:45%; top:30%; z-index:100;display:none;}">
    <div class="hint">
        <div class="hint-in1">
            <div class="hint2" style="margin-top:10px">请选择退货原因：</div>
            <div class="hint3"></div>
        </div>
        @using (Html.BeginForm("ReturnOrder", "Order", FormMethod.Post, new { @id = "form" }))
        {
            <div class="pc-label" style="margin-top:20px; margin-bottom:40px">
                <label><i class="reds ">*</i>退货原因:</label>
                <select id="ReturnReason" name="returnReason">
                    <option value="不想要了">不想要了</option>
                    <option value="拍错了，退了再拍">拍错了，退了再拍</option>
                    <option value="颜色不喜欢">颜色不喜欢</option>
                    <option value="大小不合适">大小不合适</option>
                </select>
                <div>
                    <input type="hidden" value="" Id="OrderId" name="orderId" />
                    <input type="hidden" value="" Id="OrderItemId" name="orderItemId" />
                </div>

            </div>
            <a href="javascript:void(0);" style="margin-left:60px" class="hint-in3" onclick="$('#form').submit()">确定</a>
        }
    </div>
</div>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>我的订单</h2></div>
    </div>
    <div class="member-whole clearfix">
        <ul id="H-table" class="H-table">
            <li class="cur" id="Tab1">
                <a href="javascript:void(0)" >全部订单<em>(@Model.AllStatusViewModel.TotalCount)</em></a>
            </li>
            <li id="Tab2"><a href="javascript:void(0)" >待付款<em>(@Model.PendingPaymentStatusViewModel.TotalCount)</em></a></li>
            <li id="Tab3"><a href="javascript:void(0)" >待发货<em>(@Model.PendingDeliveryStatusViewModel.TotalCount)</em></a></li>
            <li id="Tab4"><a href="javascript:void(0)" >待收货<em>(@Model.PendingReceivedStatusViewModel.TotalCount)</em></a></li>
            <li id="Tab5"><a href="javascript:void(0)" >待评价<em>(@Model.PendingCommentStatusViewModel.TotalCount)</em></a></li>
        </ul>
    </div>
    <div class="member-border">
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.AllStatusViewModel.AllOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.AllStatusViewModel.AllOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.AllStatusViewModel.AllOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.AllStatusViewModel.AllOrder[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.AllStatusViewModel.AllOrder[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.AllStatusViewModel.AllOrder[i].OrderDate.ToShortDateString()</p></div></div>
                                @if (Model.AllStatusViewModel.AllOrder[i].Returns.Count() == 0)
                                {
                                    if (Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("FINISHED")|| Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("COMMENTED"))
                                    {
                                        <div class="ci5 amanda1">
                                            <div>
                                                <p>交易成功</p>
                                                <div style="position:relative;">
                                                    <a id="linkToDelivery">查看物流</a>
                                                    <div id="deliveryDiv" style="z-index:3; display:none; position:absolute;top:30px;width:300px; background-color:white;">
                                                        <table>
                                                            @for (int k = 0; k < Model.AllStatusViewModel.AllOrder[i].DeliveryInfos.Count(); k++)
                                                            {
                                                                var deliveryInfos = Model.AllStatusViewModel.AllOrder[i].DeliveryInfos.ToList();
                                                                AirShopp.Domain.DeliveryInfo deliveryInfo = deliveryInfos[k] as AirShopp.Domain.DeliveryInfo;
                                                                <tr style="line-height:22px">
                                                                    <td>@deliveryInfo.UpdateTime.ToShortDateString();</td>
                                                                    <td>@deliveryInfo.UpdateTime.Day;</td>
                                                                    <td>@deliveryInfo.UpdateTime.ToShortTimeString();</td>
                                                                    <td>@deliveryInfo.Description;</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                                <a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a>
                                            </div>
                                        </div>
                                        <div class="ci5 ci8 amanda1">
                                            <div>
                                                @if (Model.AllStatusViewModel.AllOrder[i].OrderStatus == "COMMENTED")
                                                {
                                                    for (int k = 0; k < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); k++)
                                                    {
                                                        var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                                        AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                                        <p><a href="/Comment/Index">查看评价</a></p> <p><a href="/Product/getProduct?productId=@Model.AllStatusViewModel.AllOrder[i]" class="member-touch">再次购买</a> </p>
                                                    }
                                                }
                                                else
                                                {
                                                    for (int k = 0; k < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); k++)
                                                    {
                                                        var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                                        AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                                    <p><a href="/Comment/Index?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">评价</a></p> <p><a href="/Product/getProduct?productId=@Model.AllStatusViewModel.AllOrder[i]" class="member-touch">再次购买</a> </p>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }
                                    if (Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("OBLIGATION"))
                                    {
                                        <div class="ci5 amanda1"><div><p>等待买家付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a></p></div></div>
                                                <div class="ci5 ci8 amanda1"><div><p><a href="/Order/ToPayment?orderId=@Model.AllStatusViewModel.AllOrder[i].Id" class="member-touch">立即支付</a> </p> <p><a href="/Order/CancelOrder?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">取消订单</a> </p></div></div>
                                    }
                                    if (Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("TRANSFER"))
                                    {
                                        <div class="ci5 amanda1"><div><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a></p></div></div>
                                                <div class="ci6 amanda1">
                                                    <div>
                                                        @for (int k = 0; k < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); k++)
                                                        {
                                                            var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                                            AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                                            <p>
                                                                <a class="btn1" onclick="$('#OrderId').val(@Model.AllStatusViewModel.AllOrder[i].Id);$('#OrderItemId').val(@orderItem.Id);" href="javascript:void(0)">退货</a>
                                                            </p>
                                                        }
                                                    </div>
                                                </div>
                                    }
                                    if (Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("DELIVERY"))
                                    {
                                        <div class="ci5 amanda1"><div><p>物流运输中</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a></p><p><a href="@Url.Action("Index", "BMapRoutePlanning", new { orderId = @Model.AllStatusViewModel.AllOrder[i].Id})">查看物流</a></p></div></div>
                                                <div class="ci6 amanda1">
                                                    <div>
                                                    @for (int k = 0; k < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); k++)
                                                    {
                                                    var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                                    AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                                    <p>
                                                        <a class="btn1" onclick="$('#OrderId').val(@Model.AllStatusViewModel.AllOrder[i].Id);$('#OrderItemId').val(@orderItem.Id);" href="javascript:void(0)">退货</a>
                                                    </p>
                                                    }
                                                    </div>
                                                </div>
                                    }
                                    if (Model.AllStatusViewModel.AllOrder[i].OrderStatus.Equals("CANCELED"))
                                    {
                                        <div class="ci5 amanda1"><div><p>交易关闭</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a></p></div></div>
                                                <div class="ci6 amanda1"><div><p></p></div></div>
                                    }
                                }
                                else
                                {
                                    <div class="ci5 amanda1"><div><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllStatusViewModel.AllOrder[i].Id">订单详情</a></p></div></div>
                                                <div class="ci6 amanda1">
                                                    <div>
                                                        @for (int k = 0; k < @Model.AllStatusViewModel.AllOrder[i].OrderItems.Count(); k++)
                                                        {
                                                            var orderItems = @Model.AllStatusViewModel.AllOrder[i].OrderItems.ToList();
                                                            AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                                            <p>
                                                                @if (Model.AllStatusViewModel.AllOrder[i].Returns != null && Model.AllStatusViewModel.AllOrder[i].Returns.Count() != 0 && Model.AllStatusViewModel.AllOrder[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null)
                                                                {
                                                                    if (Model.AllStatusViewModel.AllOrder[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "FINISHED")
                                                                    {
                                                                        <label>退货完成</label>
                                                                    }
                                                                    else if (Model.AllStatusViewModel.AllOrder[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "REQUESTING")
                                                                    {
                                                                        <label>已申请退货</label>
                                                                    }
                                                                    else if (Model.AllStatusViewModel.AllOrder[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "RETURNING")
                                                                    {
                                                                        <label>退货中</label>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <a class="btn1" onclick="$('#OrderId').val(@Model.AllStatusViewModel.AllOrder[i].Id);$('#OrderItemId').val(@orderItem.Id);" href="javascript:void(0)">退货</a>
                                                                }
                                                            </p>
                                                        }
                                                    </div>
                                                </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.AllStatusViewModel.pageBar)
                    {
                        if (pageNum == Model.AllStatusViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { @class = "current", indexNum = pageNum, currentTab = 1 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { indexNum = pageNum, currentTab = 1 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="member-return H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingPaymentStatusViewModel.PendingPaymentOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1">
                                    <div>
                                        <b>￥@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].TotalAmount.ToString()</b>
                                    </div>
                                </div>
                                <div class="ci4 amanda1"><div><p>@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].OrderDate.ToShortDateString()</p></div></div>
                                <div class="ci5 amanda1"><div><p>等待买家付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].Id">订单详情</a></p></div></div>
                                <div class="ci5 ci8 amanda1"><div><p><a href="/Order/ToPayment?orderId=@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].Id" class="member-touch">立即支付</a> </p> <p><a href="/Order/CancelOrder?orderId=@Model.PendingPaymentStatusViewModel.PendingPaymentOrder[i].Id">取消订单</a> </p></div></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.PendingPaymentStatusViewModel.pageBar)
                    {
                        if (pageNum == Model.PendingPaymentStatusViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { @class = "current", indexNum = pageNum, currentTab = 2 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { indexNum = pageNum, currentTab = 2 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderDate.ToShortDateString()</p></div></div>
                                <div class="ci5 amanda1"><div><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Id">订单详情</a></p></div></div>
                                <div class="ci6 amanda1">
                                    <div>
                                        @for (int k = 0; k < @Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderItems.Count(); k++)
                                        {
                                            var orderItems = @Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].OrderItems.ToList();
                                            AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                            <p>
                                                @if (Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Returns != null && Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Returns.Count() != 0 && Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null)
                                                {
                                                    <label>退款中</label>
                                                }
                                                else
                                                {
                                                    <a class="btn1" onclick="$('#OrderId').val(@Model.PendingDeliveryStatusViewModel.PendingDeliveryOrder[i].Id);$('#OrderItemId').val(@orderItem.Id);" href="javascript:void(0)">退货</a>
                                                }
                                            </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.PendingDeliveryStatusViewModel.pageBar)
                    {
                        if (pageNum == Model.PendingDeliveryStatusViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { @class = "current", indexNum = pageNum, currentTab = 3 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { indexNum = pageNum, currentTab = 3 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingReceivedStatusViewModel.PendingReceivedOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                @*@if (i < Model.PendingReceivedStatusViewModel.PendingReceivedOrder.Count())
                                {*@
                                    <div class="ci2 amanda1"><div> @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].Customer.CustomerName </div></div>
                                    <div class="ci3 amanda1"><div><b> ￥@Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].TotalAmount </b></div></div>
                                    <div class="ci4 amanda1"><div><p> @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderDate </p></div></div>
                                    <div class="ci5 amanda1"><div><p>物流运输中</p> </div></div>
                                @*}*@
                                <div class="ci6 amanda1">
                                    <div>
                                    @for (int k = 0; k < @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderItems.Count(); k++)
                                    {
                                    var orderItems = @Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].OrderItems.ToList();
                                    AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                    <p>
                                        <a class="btn1" onclick="$('#OrderId').val(@Model.PendingReceivedStatusViewModel.PendingReceivedOrder[i].Id);$('#OrderItemId').val(@orderItem.Id);" href="javascript:void(0)">退货</a>
                                    </p>
                                    }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.PendingReceivedStatusViewModel.pageBar)
                    {
                        if (pageNum == Model.PendingReceivedStatusViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { @class = "current", indexNum = pageNum, currentTab = 4 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { indexNum = pageNum, currentTab = 4 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingCommentStatusViewModel.PendingComment.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingCommentStatusViewModel.PendingComment[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingCommentStatusViewModel.PendingComment[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.PendingCommentStatusViewModel.PendingComment[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingCommentStatusViewModel.PendingComment[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.PendingCommentStatusViewModel.PendingComment[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.PendingCommentStatusViewModel.PendingComment[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.PendingCommentStatusViewModel.PendingComment[i].OrderDate.ToShortDateString()</p></div></div>
                                <div class="ci5 amanda1"><div><p>交易成功</p> <p><a id="linkToDelivery">查看物流</a></p></div></div>
                                <div class="ci6 amanda1">
                                    <div>
                                        @for (int j = 0; j < @Model.PendingCommentStatusViewModel.PendingComment[i].OrderItems.Count(); j++)
                                        {
                                            var orderItems = @Model.PendingCommentStatusViewModel.PendingComment[i].OrderItems.ToList();
                                            AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                                <p><a href="/Comment/Index?orderId=@orderItem.Id">评价</a></p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.PendingCommentStatusViewModel.pageBar)
                    {
                        if (pageNum == Model.PendingCommentStatusViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { @class = "current", indexNum = pageNum, currentTab = 5 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "Index", "Order", new { indexNum = pageNum, currentTab = 5 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var num = @Model.CurrentTab;
    if (num == 1)
    {
        $("#Tab1").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
    if (num == 2)
    {
        $("#Tab2").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
    if (num == 3)
    {
        $("#Tab3").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
    if (num == 4)
    {
        $("#Tab4").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }

    if (num == 5)
    {
        $("#Tab5").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
</script>
