@model AirShopp.UI.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "OrderManage";
    Layout = "~/Views/Shared/_backEndLayout.cshtml";
    @Styles.Render("~/bundles/AirShopp/Inventory/Css")
    @Scripts.Render("~/bundles/AirShopp/Inventory/js")
}
<script>
         $(function(){

             $("#H-table li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over").hide();
                         $(".H-over:eq(" + _index + ")").show();
                     }
                 })(i));
             });
             $("#H-table1 li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over1").hide();
                         $(".H-over1:eq(" + _index + ")").show();
                     }
                 })(i));
             });
         });
         $(document).ready(function($){

             $(".btn1").click(function(event){
                 $(".hint").css({"display":"block"});
                 $(".box").css({"display":"block"});
             });

             $(".hint-in3").click(function(event) {
                 $(".hint").css({"display":"none"});
                 $(".box").css({"display":"none"});
             });

             $(".hint3").click(function(event) {
                 $(this).parent().parent().css({"display":"none"});
                 $(".box").css({"display":"none"});
             });

             $("#H-table li").each(function(i){
                 $(this).click((function(k){
                     var _index = k;
                     return function(){
                         $(this).addClass("cur").siblings().removeClass("cur");
                         $(".H-over").hide();
                         $(".H-over:eq(" + _index + ")").show();
                     }
                 })(i));
             });

         });
</script>
<div class="box" style="width:200px;height:135px; border:1px solid black; background:#ffffff;position:fixed; left:45%; top:30%; z-index:100;display:none;}">
    <div class="hint">
        <div class="hint-in1">
            <div class="hint2" style="margin-top:10px">请选择退货原因：</div>
            <div class="hint3"></div>
        </div>
        @using (Html.BeginForm("ReturnOrder", "Order", FormMethod.Post, new { @id = "form" }))
        {
            <div class="pc-label" style="margin-top:20px; margin-bottom:40px">
                <label><i class="reds ">*</i>退货原因:</label>
                <select id="ReturnReason" name="returnReason">
                    <option value="不想要了">不想要了</option>
                    <option value="拍错了，退了再拍">拍错了，退了再拍</option>
                    <option value="颜色不喜欢">颜色不喜欢</option>
                    <option value="大小不合适">大小不合适</option>
                </select>
                <div>
                    <input type="hidden" value="" Id="OrderId" name="orderId" />
                    <input type="hidden" value="" Id="OrderItemId" name="orderItemId" />
                </div>

            </div>
            <a href="javascript:void(0);" style="margin-left:60px" class="hint-in3" onclick="$('#form').submit()">确定</a>
        }
    </div>
</div>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>订单管理</h2></div>
        <div class="member-backs member-icons fr"><a href="#">搜索</a></div>
        <div class="member-about fr"><input type="text" placeholder="商品名称/商品编号/订单编号"></div>
    </div>
    <div class="member-whole clearfix">
        <ul id="H-table" class="H-table">
            <li class="cur">
                <a href="javascript:void(0)">全部订单<em>(@Model.AllOrder.Count())</em></a>
            </li>
            <li><a href="javascript:void(0)">待付款<em>(@Model.PendingPaymentOrder.Count())</em></a></li>
            <li><a href="javascript:void(0)">待发货<em>(@Model.PendingDeliveryOrder.Count())</em></a></li>
            <li><a href="javascript:void(0)">待收货<em>(@Model.PendingReceivedOrder.Count())</em></a></li>
            <li><a href="javascript:void(0)">待评价<em>(@Model.PendingComment.Count())</em></a></li>
        </ul>
    </div>
    <div class="member-border">
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be1" style="width:412.8px">订单信息</span>
                <span class="be2" style="width:136.8px">收货人</span>
                <span class="be2" style="width:136.8px">订单金额</span>
                <span class="be2" style="width:136.8px">订单时间</span>
                <span class="be2" style="width:139.8px">订单状态</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.AllOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.AllOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.AllOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="cci1">
                                    @for (int j = 0; j < @Model.AllOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.AllOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="cci2 amanda1">@Model.AllOrder[i].Customer.CustomerName</div>
                                <div class="cci3 amanda1"><b>￥@Model.AllOrder[i].TotalAmount.ToString()</b></div>
                                <div class="cci4 amanda1"><p>@Model.AllOrder[i].OrderDate.ToShortDateString()</p></div>
                                @if (Model.AllOrder[i].OrderStatus.Equals("FINISHED"))
                                {
                                    <div class="cci5 amanda1">
                                        <p>交易成功</p>
                                        <div style="position:relative;">
                                            <a id="linkToDelivery">查看物流</a>
                                            <div id="deliveryDiv" style="z-index:3; display:none; position:absolute;top:30px;width:300px; background-color:white;">
                                                <table>
                                                    @for (int k = 0; k < Model.AllOrder[i].DeliveryInfos.Count(); k++)
                                                    {
                                                        var deliveryInfos = Model.AllOrder[i].DeliveryInfos.ToList();
                                                        AirShopp.Domain.DeliveryInfo deliveryInfo = deliveryInfos[k] as AirShopp.Domain.DeliveryInfo;
                                                        <tr style="line-height:22px">
                                                            <td>@deliveryInfo.UpdateTime.ToShortDateString();</td>
                                                            <td>@deliveryInfo.UpdateTime.Day;</td>
                                                            <td>@deliveryInfo.UpdateTime.ToShortTimeString();</td>
                                                            <td>@deliveryInfo.Description;</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                        <a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a>
                                    </div>
                                }
                                @if (Model.AllOrder[i].Returns.Count() == 0)
                                {
                                    if (Model.AllOrder[i].OrderStatus.Equals("OBLIGATION"))
                                    {
                                        <div class="cci5 amanda1"><p>等待买家付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a></p></div>
                                    }
                                    if (Model.AllOrder[i].OrderStatus.Equals("TRANSFER"))
                                    {
                                        <div class="cci5 amanda1"><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a></p></div>
                                    }
                                    if (Model.AllOrder[i].OrderStatus.Equals("DELIVERY"))
                                    {
                                        <div class="cci5 amanda1"><p>物流运输中</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a></p><p><a href="#">查看物流</a></p></div>
                                    }
                                    if (Model.AllOrder[i].OrderStatus.Equals("CANCELED"))
                                    {
                                        <div class="cci5 amanda1"><p>交易关闭</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a></p></div>
                                    }
                                }
                                else
                                {
                                    <div class="cci5 amanda1"><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.AllOrder[i].Id">订单详情</a></p></div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="member-return H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingPaymentOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingPaymentOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingPaymentOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="cci1">
                                    @for (int j = 0; j < @Model.PendingPaymentOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingPaymentOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="cci2 amanda1">@Model.PendingPaymentOrder[i].Customer.CustomerName</div>
                                <div class="cci3 amanda1"><b>￥@Model.PendingPaymentOrder[i].TotalAmount.ToString()</b></div>
                                <div class="cci4 amanda1"><p>@Model.PendingPaymentOrder[i].OrderDate.ToShortDateString()</p></div>
                                <div class="cci5 amanda1"><p>等待买家付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.PendingPaymentOrder[i].Id">订单详情</a></p></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingDeliveryOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingDeliveryOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingDeliveryOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="cci1">
                                    @for (int j = 0; j < @Model.PendingDeliveryOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingDeliveryOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="cci2 amanda1">@Model.PendingDeliveryOrder[i].Customer.CustomerName</div>
                                <div class="cci3 amanda1"><b>￥@Model.PendingDeliveryOrder[i].TotalAmount.ToString()</b></div>
                                <div class="cci4 amanda1"><p>@Model.PendingDeliveryOrder[i].OrderDate.ToShortDateString()</p></div>
                                <div class="cci5 amanda1"><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.PendingDeliveryOrder[i].Id">订单详情</a></p></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingReceivedOrder.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingReceivedOrder[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingReceivedOrder[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="cci1">
                                    @for (int j = 0; j < @Model.PendingReceivedOrder[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingReceivedOrder[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="cci2 amanda1">@Model.PendingReceivedOrder[i].Customer.CustomerName</div>
                                <div class="cci3 amanda1"><b>￥@Model.PendingReceivedOrder[i].TotalAmount.ToString()</b></div>
                                <div class="cci4 amanda1"><p>@Model.PendingReceivedOrder[i].OrderDate.ToShortDateString()</p></div>
                                <div class="cci5 amanda1"><p>物流运输中</p> <p><a href="/Order/OrderDetail?orderId=@Model.PendingDeliveryOrder[i].Id">订单详情</a></p><p><a href="#">查看物流</a></p></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.PendingComment.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.PendingComment[i].OrderDate</span>
                                <span>订单号：<em>@Model.PendingComment[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="cci1">
                                    @for (int j = 0; j < @Model.PendingComment[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.PendingComment[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="cci2 amanda1">@Model.PendingComment[i].Customer.CustomerName</div>
                                <div class="cci3 amanda1"><b>￥@Model.PendingComment[i].TotalAmount.ToString()</b></div>
                                <div class="cci4 amanda1"><p>@Model.PendingComment[i].OrderDate.ToShortDateString()</p></div>
                                <div class="cci5 amanda1"><p>交易成功</p> <p><a id="linkToDelivery">查看物流</a></p></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                <a style="display:none" class="fl " href="#">上一页</a>
                <a href="#" class="current">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <span class="pc-search-di">…</span>
                <a href="javascript:;">1088</a>
                <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#linkToDelivery").mouseover(function () {
        $("#deliveryDiv").show();
    }).mouseout(function () {
        $("#deliveryDiv").hide();
    });
    $(".amanda1").onload(function () {
        $(this).height($(this).parent().height());
    });
    $(".amanda1").css("paddingTop", "0");
</script>


