@model AirShopp.UI.Models.ViewModel.ReturnManageListViewModel
@{
    ViewBag.Title = "ReturnManage";
    Layout = "~/Views/Shared/_backEndLayout.cshtml";
    @Styles.Render("~/bundles/AirShopp/Inventory/Css")
    @Scripts.Render("~/bundles/AirShopp/Inventory/js")
}
<script>
     $(function () {
        $("#H-table li").click(function(event){
            $(this).addClass("cur").siblings().removeClass("cur");
            var _index = 0;
            $("#H-table li").each(function(i){
                if ($(this).hasClass("cur")){
                    _index = i;
                }
            });
            $(".H-over").hide();
            $(".H-over:eq(" + _index + ")").show();

            $(".member-circle").each(function (i) {
                $(this).css("height", $(this).children("div.ci1").css("height"));
            });
        });

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
        $("#linkToDelivery").mouseover(function () {
            $("#deliveryDiv").show();
        }).mouseout(function () {
            $("#deliveryDiv").hide();
        });
        $(".btn1").click(function (event) {
            $(".hint").css({ "display": "block" });
            $(".box").css({ "display": "block" });
        });

        $(".hint-in3").click(function (event) {
            $(".hint").css({ "display": "none" });
            $(".box").css({ "display": "none" });
        });

        $(".hint3").click(function (event) {
            $(this).parent().parent().css({ "display": "none" });
            $(".box").css({ "display": "none" });
        });
    });
</script>
<style>
    .member-circle .amanda1 {
        height: 100%;
        padding-top: 0;
        position: relative;
        background: none;
    }

    .amanda1 div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .member-circle .ci5 {
        line-height: 25px;
    }
</style>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>退货管理</h2></div>
        <div class="member-backs member-icons fr"><a href="@Url.Action("ReturnManageList", "Order")" class="search">搜索</a></div>
        <div class="member-about fr"><input type="text" placeholder="订单编号" id="num" value="@Model.searchDeliveryNoteNum"></div>
    <div class="member-whole clearfix">
        <ul id="H-table" class="H-table">
            <li class="cur" id="Tab1"><a href="javascript:void(0)">退货申请<em>(@Model.RequestingListViewModel.TotalCount)</em></a></li>
            <li id="Tab2"><a href="javascript:void(0)">退货中<em>(@Model.ReturningListViewModel.TotalCount)</em></a></li>
            <li id="Tab3"><a href="javascript:void(0)">已退货<em>(@Model.ReturnFinishedListViewModel.TotalCount)</em></a></li>
        </ul>
    </div>
    <div class="member-border">
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.RequestingListViewModel.RequestingList.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.RequestingListViewModel.RequestingList[i].OrderDate</span>
                                <span>订单号：<em>@Model.RequestingListViewModel.RequestingList[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.RequestingListViewModel.RequestingList[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.RequestingListViewModel.RequestingList[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.RequestingListViewModel.RequestingList[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.RequestingListViewModel.RequestingList[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.RequestingListViewModel.RequestingList[i].OrderDate.ToShortDateString()</p></div></div>
                                @if (Model.RequestingListViewModel.RequestingList[i].OrderStatus.Equals("FINISHED"))
                                {
                                    <div class="ci5 amanda1">
                                        <div>
                                            <p>交易成功</p>
                                            <div style="position:relative;">
                                                <a id="linkToDelivery">查看物流</a>
                                                <div id="deliveryDiv" style="z-index:3; display:none; position:absolute;top:30px;width:300px; background-color:white;">
                                                    <table>
                                                        @for (int k = 0; k < Model.RequestingListViewModel.RequestingList[i].DeliveryInfos.Count(); k++)
                                                        {
                                                            var deliveryInfos = Model.RequestingListViewModel.RequestingList[i].DeliveryInfos.ToList();
                                                            AirShopp.Domain.DeliveryInfo deliveryInfo = deliveryInfos[k] as AirShopp.Domain.DeliveryInfo;
                                                            <tr style="line-height:22px">
                                                                <td>@deliveryInfo.UpdateTime.ToShortDateString();</td>
                                                                <td>@deliveryInfo.UpdateTime.Day;</td>
                                                                <td>@deliveryInfo.UpdateTime.ToShortTimeString();</td>
                                                                <td>@deliveryInfo.Description;</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                            <a href="/Order/OrderDetail?orderId=@Model.RequestingListViewModel.RequestingList[i].Id">订单详情</a>
                                        </div>
                                   </div>
                                }
                                <div class="ci5 amanda1">
                                    <div>
                                        <p>
                                            @if ("TRANSFER".Equals(@Model.RequestingListViewModel.RequestingList[i].OrderStatus))
                                            {
                                                <label>买家已付款</label>
                                            }
                                            @if ("DELIVERY".Equals(@Model.RequestingListViewModel.RequestingList[i].OrderStatus))
                                            {
                                                <label>已发货</label>
                                            }
                                        </p>
                                        <p><a href="/Order/OrderDetail?orderId=@Model.RequestingListViewModel.RequestingList[i].Id">订单详情</a></p>
                                    </div>
                                </div>
                                <div class="ci6 amanda1">
                                    <div>
                                    @for (int k = 0; k < @Model.RequestingListViewModel.RequestingList[i].OrderItems.Count(); k++)
                                    {
                                        var orderItems = @Model.RequestingListViewModel.RequestingList[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                        <p>
                                        @if (Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null &&
                                            Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "REQUESTING")
                                        {
                                            <a href="/Order/AgreeRequest?orderId=@Model.RequestingListViewModel.RequestingList[i].Id&orderItemId=@orderItem.Id">同意退货</a>
                                        }
                                        else if (Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null &&
                                          Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "FINISHED")
                                        {
                                            <label>退货完成</label>
                                        }
                                        else if (Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null &&
                                           Model.RequestingListViewModel.RequestingList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "RETURNING")
                                        {
                                            <label>退货中</label>
                                        }
                                        else
                                        {
                                            <label>正常</label>
                                        }
                                        </p>
                                    }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.RequestingListViewModel.pageBar)
                    {
                        if (pageNum == Model.RequestingListViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { @class = "current", indexNum = pageNum, currentTab = 2 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { indexNum = pageNum, currentTab = 2 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="member-return H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.ReturningListViewModel.ReturningList.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.ReturningListViewModel.ReturningList[i].OrderDate</span>
                                <span>订单号：<em>@Model.ReturningListViewModel.ReturningList[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.ReturningListViewModel.ReturningList[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.ReturningListViewModel.ReturningList[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.ReturningListViewModel.ReturningList[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.ReturningListViewModel.ReturningList[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.ReturningListViewModel.ReturningList[i].OrderDate.ToShortDateString()</p></div></div>
                                <div class="ci5 amanda1">
                                    <div>
                                        <p>
                                            @if ("TRANSFER".Equals(@Model.ReturningListViewModel.ReturningList[i].OrderStatus))
                                            {
                                                <label>买家已付款</label>
                                            }
                                            @if ("DELIVERY".Equals(@Model.ReturningListViewModel.ReturningList[i].OrderStatus))
                                            {
                                                <label>已发货</label>
                                            }
                                        </p>
                                        <p><a href="/Order/OrderDetail?orderId=@Model.ReturningListViewModel.ReturningList[i].Id">订单详情</a></p>
                                    </div>
                                </div>
                                <div class="ci6 amanda1">
                                    <div>
                                        @for (int k = 0; k < @Model.ReturningListViewModel.ReturningList[i].OrderItems.Count(); k++)
                                        {
                                            var orderItems = @Model.ReturningListViewModel.ReturningList[i].OrderItems.ToList();
                                            AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                            <p>
                                                @if (Model.ReturningListViewModel.ReturningList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null &&
                                                 Model.ReturningListViewModel.ReturningList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "FINISHED")
                                                {
                                                    <label>退货完成</label>
                                                }
                                                else if (Model.ReturningListViewModel.ReturningList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null &&
                                                   Model.ReturningListViewModel.ReturningList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault().ReturnStatus == "RETURNING")
                                                {
                                                    <label>退货中</label>
                                                }
                                                else
                                                {
                                                    <label>正常</label>
                                                }
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.ReturningListViewModel.pageBar)
                    {
                        if (pageNum == Model.ReturningListViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { @class = "current", indexNum = pageNum, currentTab = 2 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { indexNum = pageNum, currentTab = 2 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
        <div class="H-over" style="display:none;">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.ReturnFinishedListViewModel.ReturnFinishedList.Count(); i++)
                    {
                        <li>
                            <div class="member-minute clearfix">
                                <span>@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderDate</span>
                                <span>订单号：<em>@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].Id</em></span>
                            </div>
                            <div class="member-circle clearfix">
                                <div class="ci1">
                                    @for (int j = 0; j < @Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderItems.Count(); j++)
                                    {
                                        var orderItems = @Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderItems.ToList();
                                        AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                        <div class="ci7 clearfix">
                                            <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                            <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                            <span class="gr3">X @orderItem.Quantity</span>
                                        </div>
                                    }
                                </div>
                                <div class="ci2 amanda1"><div>@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].Customer.CustomerName</div></div>
                                <div class="ci3 amanda1"><div><b>￥@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].TotalAmount.ToString()</b></div></div>
                                <div class="ci4 amanda1"><div><p>@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderDate.ToShortDateString()</p></div></div>
                                <div class="ci5 amanda1"><div><p>买家已付款</p> <p><a href="/Order/OrderDetail?orderId=@Model.ReturnFinishedListViewModel.ReturnFinishedList[i].Id">订单详情</a></p></div></div>
                                <div class="ci6 amanda1">
                                    <div>
                                        @for (int k = 0; k < @Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderItems.Count(); k++)
                                        {
                                            var orderItems = @Model.ReturnFinishedListViewModel.ReturnFinishedList[i].OrderItems.ToList();
                                            AirShopp.Domain.OrderItem orderItem = orderItems[k] as AirShopp.Domain.OrderItem;
                                            <p>
                                                @if (Model.ReturnFinishedListViewModel.ReturnFinishedList[i].Returns.Where(x => x.OrderItemId == orderItem.Id).FirstOrDefault() != null)
                                                {
                                                    <label>退货完成</label>
                                                }
                                                else
                                                {
                                                    <label>正常</label>
                                                }
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix" style="padding:30px 20px;">
                <div class="fr pc-search-g pc-search-gs">
                    @foreach (var pageNum in Model.ReturnFinishedListViewModel.pageBar)
                    {
                        if (pageNum == Model.ReturnFinishedListViewModel.PageIndex)
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { @class = "current", indexNum = pageNum, currentTab = 3 });
                        }
                        else if (pageNum == 0)
                        {
                            <span class="pc-search-di">…</span>
                        }
                        else
                        {
                            @Html.ActionLink(pageNum.ToString(), "ReturnManageList", "Order", new { indexNum = pageNum, currentTab = 3 }, new { Target = "_self" });
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var num = @Model.CurrentTab;
    if (num == 1)
    {
        $("#Tab1").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
    if (num == 2)
    {
        $("#Tab2").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
    if (num == 3)
    {
        $("#Tab3").addClass("cur").siblings().removeClass("cur");
        var _index = 0;
        $("#H-table li").each(function(i){
            if ($(this).hasClass("cur")){
                _index = i;
            }
        });
        $(".H-over").hide();
        $(".H-over:eq(" + _index + ")").show();

        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    }
</script>


