@model AirShopp.UI.Models.ViewModel.AllStatusViewModel
@{
    ViewBag.Title = "ReturnList";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";

}
<script>
    $(function () {
        $(".member-circle").each(function (i) {
            $(this).css("height", $(this).children("div.ci1").css("height"));
        });
    });
</script>
<style>
    .member-circle .amanda1 {
        height: 100%;
        padding-top: 0;
        position: relative;
        background: none;
    }

    .amanda1 div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .member-circle .ci5 {
        line-height: 25px;
    }
</style>
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>退货/退款记录</h2></div>
    </div>
    <div class="member-switch clearfix">
        <ul id="H-table" class="H-table">

        </ul>
    </div>
    <div class="member-border">
        <div class="member-return H-over">
            <div class="member-cancel clearfix">
                <span class="be1">订单信息</span>
                <span class="be2">收货人</span>
                <span class="be2">订单金额</span>
                <span class="be2">订单时间</span>
                <span class="be2">订单状态</span>
                <span class="be2">订单操作</span>
            </div>
            <div class="member-sheet clearfix">
                <ul>
                    @for (int i = 0; i < Model.AllOrder.Count(); i++)
                    {
                    <li>
                        <div class="member-minute clearfix">
                            <span>@Model.AllOrder[i].OrderDate</span>
                            <span>订单号：<em>@Model.AllOrder[i].Id</em></span>
                        </div>
                        <div class="member-circle clearfix">
                            <div class="ci1">
                            @for(int j = 0; j < Model.AllOrder[i].OrderItems.Count(); j++)
                            {
                                var orderItems = @Model.AllOrder[i].OrderItems.ToList();
                                AirShopp.Domain.OrderItem orderItem = orderItems[j] as AirShopp.Domain.OrderItem;
                                <div class="ci7 clearfix">
                                    <span class="gr1"><a href="/Product/getProduct?productId=@orderItem.Product.Id"><img src="@orderItem.Product.Url" width="60" height="60" title="" about=""></a></span>
                                    <span class="gr2" style="width:260px"><a href="/Product/getProduct?productId=@orderItem.Product.Id">@orderItem.Product.ProductName</a></span>
                                    <span class="gr3">X @orderItem.Quantity</span>
                                </div>
                            }
                            </div>
                            <div class="ci2 amanda1"><div>@Model.AllOrder[i].Customer.CustomerName</div></div>
                            <div class="ci3 amanda1"><div><b>￥@Model.AllOrder[i].TotalAmount</b></div></div>
                            <div class="ci4 amanda1"><div><p>@Model.AllOrder[i].DeliveryDate.ToShortDateString()</p></div></div>
                            <div class="ci5 amanda1">
                                <div>
                                    <p>
                                        交易关闭
                                    </p>
                                    <p>@Html.ActionLink("订单详情", "OrderDetail", "Order")</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                @foreach (var pageNum in Model.pageBar)
            {
                if (pageNum == Model.PageIndex)
                {
                        @Html.ActionLink(pageNum.ToString(), "ReturnList", "Order", new { @class = "current", indexNum = pageNum });
                }
                else if (pageNum == 0)
                {
                        <span class="pc-search-di">…</span>
                    }
                    else
                    {
                        @Html.ActionLink(pageNum.ToString(), "ReturnList", "Order", new { indexNum = pageNum }, new { Target = "_self" });
                }
            }
            </div>
        </div>
    </div>
</div>
